.node {
  display: flex;
  align-items: center;
  height: 26px;
  font-size: 13px;
  color: var(--foreground);
  cursor: pointer;
  padding: 0 10px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  margin: 0 3px 0 6px;

  &:hover {
    background: var(--highlight);
    color: var(--foreground);
  }

  &.is-selected {
    background: var(--selected);
    color: var(--foreground);
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    text-align: center;
    flex-shrink: 0;
    color: #858585;
  }

  &-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent);
    color: var(--accent-foreground);
    border-radius: 14px;
    height: 14px;
    min-width: 14px;
    padding: 0 3px;
    white-space: nowrap;
    font-size: 9px;
    font-weight: bold;
  }
}
