.root {
  display: flex;
  flex-direction: column;

  &-draft {
    padding: 35px 45px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
  }
}

.new {
  width: 600px;

  &-header {
    padding-bottom: 20px;
  }

  &-footer {
    margin-top: 20px;
    text-align: right;

    &-link {
      margin-right: 20px;
    }
  }
}
