.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent; //var(--outline);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(var(--negative), 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--negative), 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(var(--negative), 0.9);
  }

  &-draft {
    padding: 35px 45px;
    flex-grow: 1;

    &-fields {
      //background: var(--fields);
      //border-radius: 12px;
      // box-shadow: 0 2px 3.5px var(--shadow);
      overflow: hidden;
      // box-shadow: 0 2px 3.5px var(--shadow);
      //box-shadow: 0 0 0 1px var(--outline), 0 2px 3.5px var(--shadow);
    }
  }
}
