.draft {
  padding: 50px 100px;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    // border-radius: 10px;
    background: var(--outline);
  }
  &::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.9);
  }
}
