.root {
  display: flex;
  flex-direction: column;

  &-inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    &-header {
      padding: 0 35px;
      padding-top: 35px;
    }
  }

  &-list {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background: transparent; //var(--alinea-outline);
    }
    &::-webkit-scrollbar-thumb {
      background: hsla(var(--alinea-negative), 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: hsla(var(--alinea-negative), 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background: hsla(var(--alinea-negative), 0.9);
    }
  }
}
