.root {
  position: relative;
  z-index: 4;
  width: 100%;
  padding: 0 10px;
  // box-shadow: 0 1px 0 var(--alinea-shadow);
  height: 44px;
  color: var(--alinea-foreground);
  border-bottom: 1px solid var(--alinea-outline);
  // background: var(--alinea-toolbar);

  &-portal {
    flex-grow: 1;
    height: 100%;

    &-slot {
      height: 100%;
    }
  }
}
