.root {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 0 10px;
  height: 44px;
  color: var(--alinea-foreground);
  border-bottom: 1px solid var(--alinea-outline);

  &-portal {
    flex-grow: 1;
    height: 100%;

    &-slot {
      height: 100%;
    }
  }
}
