.root {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 0 10px;
  padding-left: 6px;
  height: 44px;
  color: var(--alinea-foreground);
  background: var(--alinea-background);
  border-bottom: 1px solid var(--alinea-outline);

  &-portal {
    flex-grow: 1;
    height: 100%;

    &-slot {
      height: 100%;
    }
  }

  &-switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 20px;
    width: 40px;
    background-color: hsla(var(--alinea-accent), 0.6);
    border-radius: 25px;

    &.is-checked {
      background-color: var(--alinea-accent);
    }

    &-slider {
      position: absolute;
      display: inline-block;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: var(--alinea-accent-foreground);
      transition: transform 0.2s ease-in;

      &.is-checked {
        transform: translateX(20px);
      }
    }
  }

  &-range {
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: var(--alinea-background);

    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      // box-shadow: var(--alinea-fields-shadow);
      background: hsla(var(--alinea-accent), 0.6);
      border-radius: var(--alinea-border-radius);
      border: none;
    }
    &::-webkit-slider-thumb {
      border: none;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: var(--alinea-accent);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -4px;
    }
    &::-moz-range-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      box-shadow: var(--alinea-fields-shadow);
      background: var(--alinea-background);
      border-radius: var(--alinea-border-radius);
      border: 1px solid #000000;
    }
    &::-moz-range-thumb {
      border: none;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: var(--alinea-accent);
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      box-shadow: var(--alinea-fields-shadow);
      background: var(--alinea-background);
      border-radius: var(--alinea-border-radius);
      border: 1px solid #000000;
    }
    &::-ms-fill-lower {
      background: #3071a9;
      border: 1px solid #000000;
      border-radius: 10px;
      box-shadow: 1px 1px 1px #000000;
    }
    &::-ms-fill-upper {
      background: #3071a9;
      border: 1px solid #000000;
      border-radius: 10px;
      box-shadow: 1px 1px 1px #000000;
    }
    &::-ms-thumb {
      border: none;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: var(--alinea-accent);
      cursor: pointer;
    }
    &:focus::-ms-fill-lower {
      background: #3071a9;
    }
    &:focus::-ms-fill-upper {
      background: #3071a9;
    }
  }
}
