@import 'alinea/ui/style.scss';

.root {
  display: flex;
  flex-direction: column;

  &-draft {
    max-width: 1024px;
    padding: 12px;
    @include ml {
      padding: 35px 45px;
    }
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
  }
}
