.rct-dark {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent; //var(--alinea-outline);
  }
  &::-webkit-scrollbar-thumb {
    background: hsla(var(--alinea-negative), 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: hsla(var(--alinea-negative), 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: hsla(var(--alinea-negative), 0.9);
  }
}

.rct-tree-item-li {
  list-style-type: none;
  padding: 1px 0;
}

.rct-tree-item-title-container {
  z-index: 1;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: var(--alinea-border-radius);
  margin: 0 12px;

  &:hover {
    color: inherit;
    background: var(--alinea-highlight);
  }
}

.rct-tree-item-title-container-selected,
.rct-tree-item-title-container-selected:hover {
  color: inherit;
  background: var(--alinea-selected);
  color: var(--alinea-button-hover);
  /*color: var(--alinea-variant-info-foreground);
  background: var(--alinea-variant-info-background);*/

  .rct-tree-item-title {
    font-weight: 600;
  }
}

.rct-tree-item-button {
  height: 100%;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  padding-right: 15px;
  text-align: left;
  min-width: 0;
  outline: none;
}

.rct-tree-item-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  margin-right: 4px;
  height: 20px;
  flex-shrink: 0;
  color: hsla(var(--alinea-negative), 0.5);
  .rct-tree-item-title-container-selected & {
    color: var(--alinea-button-hover);
  }
}

.rct-tree-item-status {
  flex-shrink: 0;
  background: #4e5fe6;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  font-size: 10px;
  margin-left: 8px;

  svg {
    display: block;
  }
}

.rct-tree-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  margin-right: 4px;
  height: 20px;
  flex-shrink: 0;
  color: hsla(var(--alinea-negative), 0.5);
  .rct-tree-item-title-container-selected & {
    color: var(--alinea-button-hover);
  }
}

.rct-tree-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.rct-tree-drag-between-line {
  position: absolute;
  right: 0;
  top: -2px;
  height: 4px;
  background-color: var(--rct-color-drag-between-line-bg);
}

.rct-tree-drag-between-line-top {
  top: 0px;
}

.rct-tree-drag-between-line-bottom {
  top: -4px;
}

.rct-tree-search-input-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}

.rct-tree-search-input {
  position: fixed;
  width: 120px;
}

/* TODO see renaming form in multiple tree example, wraps around */
.rct-tree-item-renaming-form {
  flex-grow: 1;
  display: flex;
}
.rct-tree-item-renaming-input {
  flex-grow: 1;
  background-color: inherit;
  border: none;
  color: inherit;
  outline: none;
}
.rct-tree-item-renaming-submit-button {
  border: none;
  background-color: var(--rct-color-renaming-input-submitbutton-bg);
  border-radius: 999px;
  color: var(--rct-color-renaming-input-submitbutton-text);
  cursor: pointer;
}
.rct-tree-item-renaming-submit-button:hover {
  background-color: var(--rct-color-renaming-input-submitbutton-bg-hover);
  color: var(--rct-color-renaming-input-submitbutton-text-hover);
}
.rct-tree-item-renaming-submit-button:active {
  background-color: var(--rct-color-renaming-input-submitbutton-bg-active);
  color: var(--rct-color-renaming-input-submitbutton-text-active);
}
