@import '../../ui/style.scss';

.root {
  display: flex;
  flex-direction: column;

  &-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    min-width: 0;

    &-header {
      margin: auto;
      padding: 0 calc(var(--alinea-main-padding-x) - 8px);
      padding-bottom: 2px;
      max-width: var(--alinea-main-width);

      @include ml {
        margin-top: -16px;
      }
    }
  }
}
