.root {
  position: absolute;
  inset: 0;
  z-index: 4;
  padding: 60px 30px 40px 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.is-open {
    opacity: 1;
  }

  &-background {
    background: hsla(var(--alinea-positive), 0.8);
    // backdrop-filter: blur(5px);
    position: absolute;
    inset: 0;
  }

  &.is-open &-background {
    opacity: 0.7;
  }

  &-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 45px;
    border-radius: var(--alinea-border-radius);
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    background: var(--alinea-background);
    border: 1px solid var(--alinea-outline);
    box-shadow: 0 2px 110px 10px var(--alinea-shadow);

    &-close {
      background: var(--alinea-inner);
      position: absolute;
      top: 12px;
      right: 12px;

      &:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
      }
    }
  }
}
