@mixin dark-theme {
  --alinea-hue: 212;
  --alinea-saturation: 18%;
  --alinea-positive: var(--alinea-hue), var(--alinea-saturation), 14%;
  --alinea-negative: 0, 8%, 92%;
  --alinea-background: hsl(var(--alinea-positive));
  --alinea-foreground: white;
  --alinea-foreground-faded: hsl(0, 3%, 85%);
  --alinea-toolbar: hsl(var(--alinea-hue), var(--alinea-saturation), 20%);
  --alinea-inner: hsl(var(--alinea-hue), var(--alinea-saturation), 12%);
  --alinea-inner-outline: hsl(var(--alinea-hue), var(--alinea-saturation), 13%);
  --alinea-highlight: hsla(var(--alinea-negative), 0.06);
  --alinea-lift: hsl(var(--alinea-hue), var(--alinea-saturation), 18%);
  --alinea-selected: hsl(var(--alinea-hue), var(--alinea-saturation), 22%);
  --alinea-outline: hsl(var(--alinea-hue), var(--alinea-saturation), 20%);
  --alinea-fields: hsl(var(--alinea-hue), var(--alinea-saturation), 11.5%);
  --alinea-fields-foreground: #dee1e4;
  --alinea-fields-shadow: hsl(var(--alinea-hue), var(--alinea-saturation), 30%);
  --alinea-fields-outline: var(--alinea-inner-outline);
  --alinea-fields-selected: var(--alinea-selected);
  --alinea-fields-focus: hsl(var(--alinea-hue), var(--alinea-saturation), 30%);
  --alinea-focus-foreground: hsl(var(--alinea-negative));
  --alinea-shadow: rgba(0, 0, 0, 0.4);
  --alinea-divider-top: 0 -1px 0 rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
  --alinea-divider-bottom: 0 1px 0 rgba(255, 255, 255, 0.08),
    inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  --alinea-title-foreground: #ffffff;
  --alinea-tabs-trigger-foreground: white;
  --alinea-tabs-trigger-background: hsl(215, 17%, 35%);

  --alinea-button-foreground: white;
  --alinea-button-background: #3f61e8;
  --alinea-button-hover: #2e4fd1;
  --alinea-draft-foreground: #f0f6ff;
  --alinea-draft-background: hsla(230, 40%, 30%, 0.8);
  --alinea-published-foreground: #f1fdf4;
  --alinea-published-background: hsla(140, 21%, 30%, 0.8);
  --alinea-archived-foreground: #f0f0f0;
  --alinea-archived-background: hsla(0, 0%, 30%, 0.8);
  --alinea-transition-foreground: #fef7ed;
  --alinea-transition-background: hsla(15, 54%, 30%, 0.8);
}

@mixin light-theme {
  --alinea-hue: 200;
  --alinea-saturation: 12%;
  --alinea-positive: var(--alinea-hue), var(--alinea-saturation), 100%;
  --alinea-negative: 200, 12%, 14%;
  --alinea-background: hsl(var(--alinea-positive));
  --alinea-foreground: hsl(197, 21%, 6%);
  --alinea-foreground-faded: #1a1a1b;
  --alinea-toolbar: hsl(var(--alinea-hue), var(--alinea-saturation), 98%);
  --alinea-inner: hsl(var(--alinea-hue), var(--alinea-saturation), 98.5%);
  --alinea-inner-outline: #dcdce4;
  --alinea-highlight: hsla(var(--alinea-negative), 0.06);
  --alinea-lift: white;
  --alinea-selected: hsl(200, 12%, 93.5%);
  --alinea-outline: #f4f4f4;
  --alinea-shadow: rgba(0, 0, 0, 0.1);
  --alinea-fields: hsl(200, 12%, 96.5%);
  --alinea-fields-foreground: #696969;
  --alinea-fields-shadow: 0 0px 0 1px hsl(0, 0%, 97%);
  --alinea-fields-selected: hsl(200, 12%, 97%);
  --alinea-fields-focus: var(--alinea-accent);
  --alinea-focus-foreground: var(--alinea-accent);
  --alinea-divider-top: 0 -1px 0 rgba(0, 0, 0, 0.06),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  --alinea-divider-bottom: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  --alinea-title-foreground: rgb(62, 64, 67);
  --alinea-tabs-trigger-foreground: inherit;
  --alinea-tabs-trigger-background: white;

  --alinea-button-foreground: white;
  --alinea-button-background: #3f61e8;
  --alinea-button-hover: #2e4fd1;
  --alinea-draft-background: hsla(216, 100%, 97%, 0.8);
  --alinea-draft-foreground: #415097;
  --alinea-published-background: hsla(135, 75%, 97%, 0.8);
  --alinea-published-foreground: #558164;
  --alinea-archived-background: hsla(0, 0%, 94%, 0.8);
  --alinea-archived-foreground: #535353;
  --alinea-transition-background: hsla(35, 89%, 96%, 0.8);
  --alinea-transition-foreground: #9f4b2f;
}

.root {
  @include dark-theme;
  --alinea-border-radius: 8px;
  color: var(--alinea-foreground-faded);
  font-size: 14px;
  font-family: Inter, sans-serif;

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  &.is-light,
  html[data-theme='light'] & {
    @include light-theme;
  }

  &.is-dark,
  html[data-theme='dark'] & {
    @include dark-theme;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--alinea-background);
  min-height: 100%;

  &.is-contain {
    height: 100%;
    overflow: hidden;
  }
}
