html,
body,
:global(#root) {
  height: 100%;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  color: white;
  font-size: 14px;
  overflow: hidden;
  background: #191a1f;
  font-display: block;
  font-family: Inter, sans-serif;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
