.root {
  display: block;

  &-title {
    font-size: 13px;
    padding-bottom: 4px;

    &-optional {
      display: inline-block;
      border-radius: 8px;
      padding: 2px 6px;
      background: #dbdee2;
      margin-left: 8px;
      font-weight: normal;
      color: #383434;
    }

    &-help {
      font-weight: normal;
      padding-bottom: 4px;
    }
  }
}
