.root {
  cursor: pointer;
  font: inherit;
  color: var(--web-accent-foreground);
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  background-color: var(--web-accent);
  transition: 0.25s ease-out;

  &:hover {
    background-color: var(--web-accent-light);
  }
}
