.root {
  &-input {
    display: block;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    width: 100%;
    resize: none;
    padding: 8px 18px 8px 18px;

    &:focus {
      outline: none;
    }
  }
}
