.root {
  border-bottom: 1px solid currentColor;

  &-input {
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    width: 100%;
    padding: 4px 0;
    resize: none;

    &:focus {
      border-radius: 4px;
      outline: none;
      box-shadow: rgb(222 236 238 / 40%) 0 0 0 0.2em;
    }
  }
}
