.root {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  gap: 8px;
  height: 100%;
  min-width: 0;

  &.is-row {
    padding: 4px;
  }

  &.is-thumb {
    padding: 5px;
  }

  &.is-thumb &-inner {
    flex-direction: column;
  }

  &-inner {
    height: 100%;
    width: 100%;
    min-width: 0;
    background: var(--alinea-background);
    border-radius: var(--alinea-border-radius);
    box-shadow: 0 2px 3.5px var(--alinea-shadow);
    display: flex;

    &-hitBox {
      padding-right: 8px;
      &:hover {
        background: var(--alinea-selected);
      }
    }
  }

  &-children {
    cursor: pointer;
    padding: 8px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    &-badge {
      display: block;
      background: var(--alinea-selected);
      border-radius: 8px;
      font-size: 10px;
      height: 16px;
      line-height: 16px;
      font-weight: 600;
      padding: 0 6px;
      white-space: nowrap;
    }

    &:hover {
      background: var(--alinea-selected);
    }
  }

  &.is-row &-children {
    border-left: 1px solid var(--alinea-outline);
  }

  &.is-thumb &-children {
    border-top: 1px solid var(--alinea-outline);
  }

  &-checkbox {
    position: absolute;
    left: -9999px;
  }

  &-selection {
    height: 100%;
    display: flex;
    font-size: 19px;
    padding: 8px 0;
    padding-right: 4px;
    padding-left: 8px;
  }

  &.is-row &-selection {
    align-items: center;
  }

  &[aria-selected] &-inner {
    background: var(--alinea-selected);
  }
}
