@import '../../../style.scss';

.root {
  position: relative;
}

.hero {
  background-color: $grey;
  position: relative;
  padding: 30px 0;

  @include media($ipad-land) {
    padding: 60px 0;
  }

  &-content {
    max-width: 640px;

    &-text,
    &-button {
      margin-top: 15px;
    }
  }
}
