@import '../../../style.scss';

.root {
  position: relative;
}

.hero {
  background-color: $grey;
  position: relative;
  padding: 75px 0;

  &.is-image {
    color: white;
  }

  &-image,
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-overlay {
    width: 100%;
    height: 100%;
    background: rgba($black, 0.65);

    @include media($ipad-land) {
      background: linear-gradient(
        to right,
        rgba($black, 0.65) 50%,
        rgba($black, 0) 100%
      );
    }
  }

  &-content {
    position: relative;
    max-width: 640px;

    &-text,
    &-button {
      margin-top: 15px;
    }
  }
}
