@import '@alinea/web/src/style.scss';

.root {
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;

  @include m {
    padding: 0 80px;
  }

  @include l {
    max-width: 1136px;
    padding: 0 90px;
  }
}
