@import '@alinea/web/src/style.scss';

.root {
  position: relative;
  padding: 80px 0;
  background: var(--web-background-variant);

  &-bg {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    fill: var(--web-background-variant);
  }
}
