@import '@alinea/web/src/style.scss';

.root {
  position: relative;
  padding: 30px 45px;

  @include ml {
    padding: 40px 45px;
  }

  &-link {
    font-size: 13px;
    text-underline-offset: 0.3em;
    color: inherit;
  }
}
