@import '@alinea/web/src/style.scss';

.root {
  --bg-faded: hsla(var(--web-header-background-hsl), 0.9);
  --bg: var(--web-header-background);
  position: sticky;
  top: 0;
  color: var(--web-foreground-faded);
  height: var(--web-header-height);
  z-index: 2;
  background-color: var(--bg-faded);
  backdrop-filter: blur(12px);
  flex-shrink: 0;
  border-bottom: 1px solid hsla(var(--web-negative-hsl), 0.09);

  &.is-transparent {
    background-color: hsla(var(--web-background-variant-hsl), 0.9);
    box-shadow: none;
    border-bottom: none;
  }

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-top {
    position: relative;
  }

  &-logo {
    display: block;
    margin-top: -3px;

    @include ml {
      margin-top: -2px;
    }

    &:hover {
      color: var(--web-foreground);
    }
  }

  &-nav {
    height: 100%;

    @include sm {
      display: none !important;
    }

    &-link {
      height: 100%;
      color: inherit;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 3px solid transparent;
      padding-top: 3px;
      display: flex;
      align-items: center;
      padding: 3px 20px 0 20px;

      &:hover {
        color: var(--web-foreground);
      }

      &.is-active {
        color: var(--web-selected-foreground);
        font-weight: 600;
        border-color: var(--web-accent);
      }
    }
  }

  &-social {
    display: block;

    &-icon {
      display: block;
      font-size: 25px;
    }
  }

  &-hamburger {
    display: block;
    font-size: 25px;

    @include l {
      display: none !important;
    }

    > svg {
      display: block;
    }
  }
}

.mobilemenu {
  font-family: var(--web-title-font);
  display: block;
  padding: 20px 0;
  margin-top: 1px;
  background-color: var(--web-header-background);

  @include l {
    display: none !important;
  }

  &-link {
    cursor: pointer;
    color: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-decoration: none;
  }
}
