@import '@alinea/web/src/style.scss';

.root {
  --background: hsl(0, 12%, 98%);
  position: relative;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;

  @include ml {
    padding: 20px 45px;
  }

  &-top {
    position: relative;
  }

  &-logo {
    display: block;
    color: var(--website-heading);
    margin-top: -3px;

    @include ml {
      margin-top: -2px;
    }
  }

  &-nav {
    display: none !important;

    @include l {
      display: flex !important;
    }

    &-link {
      color: inherit;
      text-decoration: none;
      font-size: 13px;

      @include ml {
        font-size: 14px;
      }
    }
  }

  &-bg {
    position: absolute;
    top: 100%;
    margin-top: -1px;
    fill: var(--background);
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    max-height: calc(100vh - 95px);
    width: 100%;
  }

  &-social {
    display: block;
    color: var(--website-heading);

    &:hover {
      color: black;
    }

    &-icon {
      display: block;
      font-size: 25px;
    }
  }

  &-hamburger {
    display: block;
    color: var(--website-heading);
    font-size: 25px;

    @include l {
      display: none !important;
    }

    > svg {
      display: block;
    }
  }
}

.mobilemenu {
  display: block;
  padding-top: 20px;

  @include l {
    display: none !important;
  }

  &-link {
    cursor: pointer;
    color: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-decoration: none;
  }
}
