@import '@alinea/web/src/style.scss';

.root {
  position: relative;
  background: var(--web-hero-background);
  color: var(--web-header-foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;

  @include ml {
    padding: 20px 45px;
  }

  &-top {
    position: relative;
  }

  &-logo {
    display: block;
    margin-top: -3px;

    @include ml {
      margin-top: -2px;
    }
  }

  &-nav {
    font-family: var(--web-title-font);

    @include sm {
      display: none !important;
    }

    &-link {
      color: inherit;
      text-decoration: none;
      font-size: 13px;

      @include ml {
        font-size: 14px;
      }
    }
  }

  &-social {
    display: block;

    &:hover {
      color: black;
    }

    &-icon {
      display: block;
      font-size: 25px;
    }
  }

  &-hamburger {
    display: block;
    font-size: 25px;

    @include l {
      display: none !important;
    }

    > svg {
      display: block;
    }
  }
}

.mobilemenu {
  display: block;
  padding-top: 20px;
  font-family: var(--web-title-font);

  @include l {
    display: none !important;
  }

  &-link {
    cursor: pointer;
    color: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-decoration: none;
  }
}
