@import '@alinea/web/src/style.scss';

.root {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: var(--web-foreground);
  background: var(--web-background);
  min-height: 100vh;

  &-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &.is-full {
  }
}

.content {
  min-height: 0;
  padding: 40px 0;
}

.scrollable {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  padding: 20px 45px 45px 45px;

  &-inner {
    width: 100%;
    margin: 0 auto;
  }
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;

  @include l {
    max-width: 1200px;
  }
}
