@import '@alinea/web/src/style.scss';

.root {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: var(--web-foreground);
  background: var(--web-background);
  min-height: 100vh;

  &-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &.is-full {
    height: 100%;
  }
}

.content {
  min-height: 0;
  padding: 40px 0;
}

.scrollable {
  flex: 1 0 0;
  height: 100%;
  overflow-y: auto;
  @include scrollbar;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
}
