@import '@alinea/web/src/style.scss';

.root {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #141b43;
  background: var(--web-background);

  &-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.content {
  padding: 70px 0;

  @include m {
    padding: 90px 0;
  }

  @include l {
    padding: 100px 0;
  }
}
