@import '@alinea/web/src/style.scss';

.root {
  height: calc(100vh - var(--web-header-height));
  position: sticky;
  top: var(--web-header-height);
  overflow: auto;
  flex-shrink: 0;
  width: 256px;
  padding: 20px 0;
  margin-left: -6px;
  padding-right: 6px;

  @media (max-width: 980px) {
    display: none;
  }

  @include scrollbar;
}
