@import '@alinea/web/src/style.scss';

.root {
  height: 100%;
  overflow: auto;
  background: var(--web-background-variant);
  position: relative;
  padding: 35px 60px;
  flex-shrink: 0;
  width: 360px;
  @media (max-width: 980px) {
    display: none;
  }

  @include scrollbar;
}
