.root {
  position: relative;
  display: none;

  &.is-open {
    display: block;
  }

  &-sub {
    &-header {
      font-family: var(--web-title-font);
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 23px 10px 4px 10px;
    }
    &:first-child &-header {
      padding-top: 0;
    }
  }

  &-link {
    position: relative;
    display: block;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    padding: 4px 10px;
    margin: 1px;
    cursor: pointer;

    &-icon {
      display: block;
      position: absolute;
      top: 50%;
      left: -12px;
      transform: translateY(-50%);
      font-size: 18px;
      color: var(--web-accent);
      opacity: 0;
    }

    &.is-active {
      font-weight: 500;
    }

    &:hover &-icon {
      opacity: 0.5;
    }

    &.is-active &-icon {
      opacity: 1;
    }
  }
}
