.code {
  display: inline-block;
  vertical-align: middle;
  font-family: 'JetBrains Mono', monospace;
  background: var(--web-code-inline-background);
  color: var(--web-code-inline-foreground);
  border-radius: 6px;
  padding: 0.1em 0.4em;
  font-size: 0.9em;
  font-weight: normal;
}

.list {
  margin-left: 20px;
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.listItem {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
