.root {
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -30px;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}

.container {
  padding: 0 30px;
}
