.root {
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  cursor: pointer;

  &-header {
    position: relative;
    padding: 8px;

    &-image {
      position: relative;
      height: 200px;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      object-fit: cover;
    }
  }

  &-content {
    padding: 20px;
    padding-top: 10px;
    font-size: 14px;

    &-link {
      padding-top: 10px;
    }
  }

  &:hover &-content-link {
    color: #b698b0;
  }
}
