.Heading {
  min-width: 0;
  font-weight: 600;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

h1.Heading {
  font-size: 33px;
  line-height: 1.25;
}

h2.Heading {
  font-size: 18px;
  line-height: 1.33;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

h3.Heading {
  font-size: 16px;
  line-height: 1.2;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

h4.Heading {
  font-size: 13px;
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

h5.Heading {
  font-size: 11.5px;
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

.Paragraph {
  max-width: 50ch;
  font-size: 14px;
  line-height: 1.6;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:not(:has(+ .Paragraph)) {
    margin-top: 8px;
  }
}

.BulletList,
.OrderedList {
  margin-left: 20px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.ListItem {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.Blockquote {
  padding: 4px 16px;
  border-left: 2px solid hsla(var(--alinea-dashboard-richtext-accent-hsl), 0.5);

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.Link {
  cursor: text;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: hsla(var(--alinea-dashboard-richtext-accent-hsl), 0.4);
  text-underline-offset: 0.3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  &:hover {
    text-decoration-color: currentColor;
  }
}

.Table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.TableCell,
.TableHeader {
  padding: 4px 8px;
  border: 1px solid var(--alinea-dashboard-richtext-table-border);

  &:global(.selectedCell) {
    background-color: var(--alinea-dashboard-richtext-selection-background);
  }
}

.TableHeader {
  background: var(--alinea-dashboard-richtext-table-header-background);
  text-align: left;
  font-weight: 700;
}

.Highlight {
  background: var(--alinea-dashboard-richtext-highlight-background);
  color: var(--alinea-dashboard-richtext-highlight-foreground);
}
