.Heading {
  min-width: 0;
  font-weight: 600;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

h1.Heading {
  font-size: 33px;
  line-height: 1.25;
}

h2.Heading {
  font-size: 18px;
  line-height: 1.33;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

h3.Heading {
  font-size: 16px;
  line-height: 1.2;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

h4.Heading {
  font-size: 13px;
  font-weight: 600;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

h5.Heading {
  font-size: 11.5px;
  font-weight: 600;

  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

/* Where does this work? */
/* .Paragraph {
  max-width: 50ch;
  font-size: 14px;
  line-height: 1.6;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  & :not(:has(+ .Paragraph)) {
    margin-top: 12px;
  }
  &:not(:last-child) {
    margin-bottom: 12px;
  }
} */

.BulletList,
.OrderedList {
  margin-left: 20px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.ListItem {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.Blockquote {
  padding: 4px 16px;
  border-left: 2px solid color-mix(in srgb, var(--alinea-danger) 50%, transparent);

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.Anchor::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 2px;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M13 9V7.82C14.16 7.4 15 6.3 15 5c0-1.65-1.35-3-3-3S9 3.35 9 5c0 1.3.84 2.4 2 2.82V9H9c-.55 0-1 .45-1 1s.45 1 1 1h2v8.92c-2.22-.33-4.59-1.68-5.55-3.37l1.14-1.14c.22-.22.19-.57-.05-.75L3.8 12.6a.5.5 0 0 0-.8.4v2c0 3.88 4.92 7 9 7s9-3.12 9-7v-2a.5.5 0 0 0-.8-.4l-2.74 2.05c-.24.18-.27.54-.05.75l1.14 1.14c-.96 1.69-3.33 3.04-5.55 3.37V11h2c.55 0 1-.45 1-1s-.45-1-1-1zm-1-5c.55 0 1 .45 1 1s-.45 1-1 1s-1-.45-1-1s.45-1 1-1'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M13 9V7.82C14.16 7.4 15 6.3 15 5c0-1.65-1.35-3-3-3S9 3.35 9 5c0 1.3.84 2.4 2 2.82V9H9c-.55 0-1 .45-1 1s.45 1 1 1h2v8.92c-2.22-.33-4.59-1.68-5.55-3.37l1.14-1.14c.22-.22.19-.57-.05-.75L3.8 12.6a.5.5 0 0 0-.8.4v2c0 3.88 4.92 7 9 7s9-3.12 9-7v-2a.5.5 0 0 0-.8-.4l-2.74 2.05c-.24.18-.27.54-.05.75l1.14 1.14c-.96 1.69-3.33 3.04-5.55 3.37V11h2c.55 0 1-.45 1-1s-.45-1-1-1zm-1-5c.55 0 1 .45 1 1s-.45 1-1 1s-1-.45-1-1s.45-1 1-1'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.Link {
  cursor: text;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, var(--alinea-danger) 40%, transparent);
  text-underline-offset: 0.3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  &:hover {
    text-decoration-color: currentColor;
  }
}

.Table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.TableCell,
.TableHeader {
  padding: 4px 8px;
  border: 1px solid var(--alinea-border);

  &:global(.selectedCell) {
    background-color: var(--alinea-primary-subtle);
  }
}

.TableHeader {
  background: var(--alinea-header);
  text-align: left;
  font-weight: 600;
}

.Highlight {
  background: var(--alinea-primary);
  color: var(--alinea-primary-fg);
}
