@import '../../ui/Typo.module.scss';

h1.heading {
  @extend .h1;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

h2.heading {
  @extend .h2;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

h3.heading {
  @extend .h3;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.paragraph {
  font-size: 14px;
  line-height: 1.6;
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.list {
  margin-left: 20px;
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.listItem {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.blockquote {
  padding: 4px 16px;
  border-left: 2px solid hsla(var(--alinea-negative), 0.5);
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.link {
  cursor: text;
}
