.status {
  flex-shrink: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 16px;
  padding: 0 4px;
  font-size: 11px;
  margin-left: auto;
}

.draft {
  composes: status;
  color: var(--alinea-primary-700);
  background: var(--alinea-primary-50);
}

.unpublished {
  composes: status;
  color: var(--alinea-warning-600);
  background: var(--alinea-warning-50);
}
