.Explorer {
  display: flex;
  min-height: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.Explorer-toolbar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.Explorer-toolbar > *:first-child {
  flex: 1;
}

.Explorer-viewport {
  min-height: 0;
  flex: 1;
  height: 100%;
}
