.root {
  display: flex;
  min-height: 0;
  height: 100%;
  flex-direction: column;
  gap: 16px;
}

.toolbar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.toolbar > *:first-child {
  flex: 1;
}

.listViewport {
  min-height: 0;
  flex: 1;
  height: 100%;
}
