.trigger {
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
  padding: 0 8px !important;
  height: 36px !important;
}

.triggerAvatar {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  flex-shrink: 0;
}

.triggerText {
  display: block;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
}

.parent {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
}
