.root {
  display: block;
  text-decoration: none;
  color: inherit;
  font: inherit;
  border-radius: 12px;
  padding: 10px 16px;
  line-height: 1.2;
  font-size: 14px;
  box-shadow: 0 1px 0 var(--web-outline);
  border: 1px solid var(--web-outline);
  margin-bottom: 18px;
  transition: background 0.25s ease-out;

  &:hover {
    background: hsla(var(--web-negative-hsl), 0.05);
  }

  &-title {
    font-family: var(--web-title-font);
    font-weight: bold;
    font-size: 15px;
  }
}
