.root {
  margin: 20px 0 28px 0;
  background: var(--web-code-background);
  color: var(--web-code-foreground);
  border-radius: 10px;
  overflow: hidden;

  &-fileName {
    font-family: 'JetBrains Mono', monospace;
    padding: 8px 15px;
    font-size: 12px;
    background: var(--web-code-highlight);
  }

  &-code {
    > pre {
      padding: 22px 25px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 4px;
        height: 12px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
      &::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, 0.9);
      }

      > code {
        font-family: 'JetBrains Mono', monospace;
      }
    }
  }

  &.is-compact {
    line-height: 1.2;
  }
}
