.root {
  margin: 20px 0 28px 0;
  background: var(--web-code-highlight);
  color: var(--web-code-foreground);
  border-radius: 10px;
  overflow: hidden;

  &-trigger {
    appearance: none;
    background: transparent;
    padding: 8px 15px;
    font: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;

    &:hover {
      background: var(--web-code-background);
    }

    &.is-selected {
      background: var(--web-code-background);
    }
  }

  &-code {
    > pre {
      padding: 22px 25px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 4px;
        height: 12px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
      &::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, 0.9);
      }

      > code {
        font-family: 'JetBrains Mono', monospace;
      }
    }
  }
}
