@import '@alinea/web/src/style.scss';

.root {
  position: relative;

  &-intro {
    text-align: center;

    &-text {
      margin: 0 auto;
    }
  }

  &-intro + &-items {
    margin-top: 0;
  }

  &-items {
    margin-top: -30px;

    @include l {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
    }

    &-item {
      margin-top: 30px;

      @include l {
        width: calc(100% / 3);
        padding-left: 30px;
      }
    }
  }
}

.card {
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--web-background-variant);

  > *:first-child {
    margin-top: 0;
  }
}
