@import '@alinea/web/src/style.scss';

.root {
  position: relative;

  &-row {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include l {
      flex-direction: row;
      align-items: center;
      gap: 60px;

      &.is-right {
        flex-direction: row-reverse;
      }
    }
  }

  &-image,
  &-content {
    @include l {
      flex: 0 1 50%;
    }
  }

  &-content {
    @include l {
      padding: 75px 0;
    }
  }
}
