@import '@alinea/web/src/style.scss';

.root {
  position: relative;
  margin: 60px 0;

  &-row {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include l {
      flex-direction: row;
      align-items: center;
      gap: 60px;

      &.is-right {
        flex-direction: row-reverse;
      }
    }
  }

  &-image,
  &-content {
    @include l {
      flex: 0 1 50%;
    }
  }

  &-image {
    border-radius: 10px;
    overflow: hidden;
  }

  &-content {
    @include l {
      padding: 60px 0;
    }
  }
}

.button {
  cursor: pointer;
  font: inherit;
  color: var(--web-accent-foreground);
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  background-color: var(--web-accent);
  transition: 0.25s ease-out;

  &:hover {
    background-color: var(--web-accent-light);
  }
}
