.root {
  width: 1024px;
  height: 768px;
  padding: 0;

  &-footer {
    padding: 20px 30px;
  }

  &-header {
    padding: 20px 30px;
  }

  &-search {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 9px 14px;
    gap: 8px;
    padding: 9px 14px;
    border-radius: var(--alinea-border-radius);
    line-height: 1.5;
    background: var(--alinea-fields);
    box-shadow: var(--alinea-fields-shadow);

    &-icon {
      flex-shrink: 0;
    }

    &:focus-within {
      background: var(--alinea-fields-selected);
      outline: 2px solid var(--alinea-fields-focus);
    }

    &-input {
      border: none;
      outline: none;
      background: transparent;
      color: inherit;
      font: inherit;
      font-size: 13px;
      width: 100%;
    }
  }

  &-results {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background: var(--alinea-lift);
    overflow: hidden;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &-item {
        display: flex;
        cursor: default;
        scroll-margin: 0.5rem;
        align-items: center;
        border-radius: 0.25rem;
        padding: 4px 8px;
        color: inherit;
        text-decoration: none;
        font-size: 13px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30px;
        flex-shrink: 0;

        &:hover {
          background: var(--alinea-selected);
        }

        &:focus-within,
        &:active {
          background: var(--alinea-fields-focus);
          color: var(--alinea-focus-foreground);
        }
      }
    }
  }
}
