@import '../../../style.scss';

.root {
  position: relative;
  background-color: $grey;
  text-align: center;
  padding: 30px 0;

  @include media($ipad-land) {
    padding: 60px 0;
  }

  &-image,
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-overlay {
    width: 100%;
    height: 100%;
    background: rgba($black, 0.6);
  }

  &-content {
    position: relative;

    &.is-image {
      color: white;
    }
  }
}

.breadcrumbs {
  position: relative;
  margin-top: 15px;

  &-divider {
    color: $primary;
    margin: 0 10px;
  }

  &-current {
    color: $primary;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
  }
}
