.root {
  &-input {
    display: block;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    width: 100%;
    resize: none;
    padding: 9px 14px;
    border-radius: var(--alinea-border-radius);
    line-height: 1.5;
    font-family: 'JetBrains Mono', monospace;
    white-space: pre;
    overflow-x: auto !important;
    font-size: 13px;
    background: var(--alinea-fields);
    box-shadow: var(--alinea-fields-shadow);

    &:focus {
      background: var(--alinea-fields-selected);
      outline: 2px solid var(--alinea-fields-focus);
    }

    &:disabled {
      opacity: 0.6;
    }
  }
}
