.Rail {
  display: flex;
  flex-direction: column;
  height: 100%;

  &+& {
    border-left: 1px solid red;
  }

  &.is-main {
    flex: 1;
    min-width: 0;
  }
}

.RailHeader {
  display: flex;
  align-items: center;
  height: 56px;
  flex-shrink: 0;
  border-bottom: 1px solid red;
}

.RailFooter {
  display: flex;
  align-items: center;
  height: 56px;
  flex-shrink: 0;
  border-top: 1px solid red;
}

.RailBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
}
