.root {
  min-width: 0;
  min-height: 0;
}

.root-layout {
  display: grid;
}

.root-dividerLeft {
  border-left: 1px solid #d8e1eb;
}

.root-dividerRight {
  border-right: 1px solid #d8e1eb;
}

.header {
  display: flex;
  align-items: center;
  min-width: 0;
}

.body {
  min-width: 0;
  min-height: 0;
}

.body-scroll {
  overflow: auto;
}

.footer {
  min-width: 0;
}
