.Surface {
  border-radius: 6px;
  border: 1px solid var(--alinea-border-color);
  background: white;
  overflow: hidden;
  font-size: var(--alinea-font-size-base);
}

.SurfaceHeader {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--alinea-gray-100);

  &:not(:first-child) {
    border-top: 1px solid var(--alinea-border-color);
  }
}

.SurfaceContent {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:not(:first-child) {
    border-top: 1px solid var(--alinea-border-color);
  }
}
