.row {
  height: 100%;
  min-width: 0;
  font-size: 13px;
  padding: 0 4px;

  &-preview {
    width: 28px;
    height: 28px;
    background: rgba(var(--negative), 0.05);
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 6px;
    display: flex;

    &-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center center;
      margin: auto;
    }

    &-icon {
      display: block;
      margin: auto;
      opacity: 0.4;
    }
  }
}

.thumb {
  height: 100%;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 6px;
  color: inherit;
  text-decoration: none;

  &-preview {
    position: relative;
    width: 100%;
    min-height: 0;
    overflow: hidden;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;

    &-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center center;
      margin: auto;
    }

    &-icon {
      margin: auto;
      opacity: 0.4;
    }
  }

  &-footer {
    padding: 8px 0;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;

    &-title {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
    }

    &-extension {
      opacity: 0.5;
      margin-left: auto;
      padding: 3px 5px;
      flex-shrink: 0;
      font-size: 10px;
      background: rgba(var(--negative), 0.05);
      border-radius: 6px;
    }
  }
}
