.EditFields {
  --alinea-field-gap: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--alinea-field-gap);
}

.EditField-slot {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0;
}

@media (max-width: 768px) {
  .EditField-slot {
    flex-basis: 100% !important;
  }
}
