.BlockingToastMessage {
  color: var(--alinea-fg);
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 16px 0;
}

.BlockingToastHeader {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

.BlockingToastHeader [data-slot='icon'] {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BlockingToastTitle {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.BlockingToastActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}


