.WorkspaceMenu-parent {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.WorkspaceMenu-avatar {
  width: 26px;
  height: 26px;
  margin-left: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &.is-small {
    width: 24px;
    height: 24px;
    margin-left: 0;
  }
}

.WorkspaceMenu-avatar-logo {
  width: 100%;
  height: 100%;
}

.WorkspaceMenu-trigger {
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-width: 0;
  justify-content: space-between;
  padding: 0 8px !important;
  height: 36px !important;
}

.WorkspaceMenu-trigger-text {
  display: block;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
}

.WorkspaceMenu-search {
  flex-shrink: 0;
}
