@import './style.scss';

.root {
  background-color: hsla(var(--alinea-positive), 1);
  flex-shrink: 0;
  // box-shadow: 0 1px 4px var(--alinea-shadow);
  height: var(--alinea-header-height);
  border-bottom: 1px solid var(--alinea-outline);
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(12px);

  @include s {
    overflow-x: auto;
  }

  &.is-draft {
    color: var(--alinea-variant-info-foreground);
    background: var(--alinea-variant-info-background);
  }
  &.is-published {
    color: var(--alinea-variant-success-foreground);
    background: var(--alinea-variant-success-background);
  }
  &.is-archived {
    color: var(--alinea-variant-disabled-foreground);
    background: var(--alinea-variant-disabled-background);
  }
  &.is-transition {
    color: var(--alinea-variant-progress-foreground);
    background: var(--alinea-variant-progress-background);
  }
}

.item {
  all: unset;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  font-size: 13px;
  white-space: nowrap;

  &-icon {
    display: flex;
    font-size: 1.2em;
  }

  &.is-interactive {
    cursor: pointer;
    &:focus,
    &:hover {
      background: var(--alinea-highlight);
    }
  }

  &.is-active {
    background: var(--alinea-selected);
  }
}
