.root {
  display: inline-flex;
  align-items: center;
  border-radius: 14.4px;
  //height: 17px;
  font-size: 11px;
  white-space: nowrap;
  flex-shrink: 0;
  color: var(--alinea-foreground);
  background: var(--alinea-background);
  padding-left: 4px;

  &-icon {
    margin-left: 4px;
  }

  &-label {
    padding: 4px 8px 4px 4px;
  }

  &.is-accent {
    background: var(--alinea-accent);
    color: var(--alinea-accent-foreground);
  }

  &.is-disabled {
    color: var(--alinea-variant-disabled-foreground);
    background: var(--alinea-variant-disabled-background);
  }

  &.is-info {
    color: var(--alinea-variant-info-foreground);
    background: var(--alinea-variant-info-background);
  }

  &.is-success {
    color: var(--alinea-variant-success-foreground);
    background: var(--alinea-variant-success-background);
  }

  &.is-progress {
    color: var(--alinea-variant-progress-foreground);
    background: var(--alinea-variant-progress-background);
  }
}
