.root {
  position: relative;
  display: flex;
  min-width: 0;
}

.trigger {
  cursor: pointer;
  white-space: nowrap;
  min-width: 0;
}

.items {
  padding: 5px;
  min-width: 220px;
  border-radius: var(--alinea-border-radius);
  background: var(--alinea-background);
  border: 1px solid var(--alinea-outline);
  box-shadow: 0 2px 10px var(--alinea-shadow);
  outline: none;
  position: absolute;
  z-index: 1;
  color: var(--alinea-foreground);

  &.is-bottom {
    top: calc(100% + 5px);
  }

  &.is-top {
    bottom: calc(100% + 5px);
  }
}

.item {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  min-height: 25px;
  position: relative;
  user-select: none;
  border-radius: var(--alinea-border-radius);
  padding: 8px 10px;
  cursor: pointer;

  &:focus {
    background-color: var(--alinea-selected);
  }

  &:hover,
  &.is-active {
    background: var(--alinea-highlight);
  }
}
