.root {
  position: relative;
  display: flex;
  min-width: 0;
  flex-shrink: 0;
}

.trigger {
  cursor: pointer;
  white-space: nowrap;
  min-width: 0;
}

.items {
  padding: 5px;
  min-width: 220px;
  max-height: 300px;
  overflow: auto;
  border-radius: var(--alinea-border-radius);
  background: var(--alinea-background);
  border: 1px solid var(--alinea-outline);
  box-shadow: 0 2px 10px var(--alinea-shadow);
  outline: none;
  position: absolute;
  z-index: 2;
  color: var(--alinea-foreground);

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent; //var(--alinea-outline);
  }
  &::-webkit-scrollbar-thumb {
    background: hsla(var(--alinea-negative), 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: hsla(var(--alinea-negative), 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: hsla(var(--alinea-negative), 0.9);
  }

  &.is-bottom {
    top: calc(100% + 5px);
  }

  &.is-top {
    bottom: calc(100% + 5px);
  }

  &.is-left {
    left: 0;
  }

  &.is-right {
    right: 0;
  }
}

.item {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  min-height: 25px;
  position: relative;
  user-select: none;
  border-radius: var(--alinea-border-radius);
  padding: 8px 10px;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:focus {
    background: var(--alinea-selected);
  }

  &:hover,
  &.is-active {
    background: var(--alinea-highlight);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
