.root {
  padding: 16px;
  width: 100%;
  display: flex;

  &-inner {
    margin: auto;
  }

  &-mesage {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9em;
    font-feature-settings: 'tnum' 1;
    white-space: pre-line;
    max-height: 300px;
    overflow: auto;
  }
}
