@import 'alinea/ui/style.scss';

.root {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--alinea-content);

  &-inner {
    width: 100%;
    flex-grow: 1;
    min-width: 0;

    @mixin ml {
      min-width: 560px;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent; //var(--alinea-outline);
  }
  &::-webkit-scrollbar-thumb {
    background: hsla(var(--alinea-negative), 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: hsla(var(--alinea-negative), 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: hsla(var(--alinea-negative), 0.9);
  }
}

.container {
  padding: 12px;
  @include ml {
    padding: 35px 45px;
  }
  max-width: 960px;
  width: 100%;
  // margin: 0 auto;
  flex-grow: 1;
  margin: 0 auto;
}
