.root {
  height: 22px;
  display: flex;
  border-top: 1px solid var(--alinea-outline);
  position: relative;
  z-index: 5;
  // background: var(--alinea-accent);
  // color: var(--alinea-accent-foreground);

  &-slots {
    margin-left: auto;
    display: flex;
  }
}

.status {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.8em;
  padding: 0 6px;
  cursor: default;
  white-space: nowrap;
}
