.list {
  display: flex;
  overflow: auto;
  max-width: 100%;
  padding: 8px !important;
  gap: 5px;
}

.trigger {
  position: relative;
  z-index: 0;
  appearance: none;
  background: transparent;
  display: flex;
  align-items: center;
  border: none;
  color: inherit;
  font: inherit;
  height: 30px;
  padding: 0 12px;
  cursor: pointer;
  opacity: 0.7;
  font-size: 13px;
  line-height: 1.1;
  outline: none;
  font-weight: 600;
  white-space: nowrap;
  color: var(--alinea-tabs-trigger-foreground);
  border-radius: var(--alinea-border-radius);

  &:hover {
    opacity: 1;
  }

  &[aria-selected='true'] {
    opacity: 1;
    background: var(--alinea-selected);
    color: var(--alinea-selected-foreground);
  }
}
