@import '../../../style.scss';

.root {
  position: relative;
}

.intro {
  margin: 30px 0;

  @include media($ipad-land) {
    margin: 60px 0;
  }

  &-row {
    @include media($ipad-land) {
      display: flex;
      align-items: center;
    }
  }

  &-image {
    overflow: hidden;
    border-radius: 15px;

    @include media($ipad-land) {
      width: 60%;
    }
  }

  &-content {
    position: relative;
    color: white;
    padding: 30px;
    border-radius: 15px;
    background-color: $primary;

    @include media($ipad-land) {
      width: calc(40% + 60px);
      margin: 60px 0;
    }
  }

  &-image + &-content {
    margin-top: 30px;

    @include media($ipad-land) {
      margin-top: 60px;
      margin-left: -60px;
    }
  }

  &-tags {
    display: flex;

    &-tag {
      color: #424242;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      flex: 1 1 50%;
      display: inline-block;
      vertical-align: middle;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: white;

      &-icon {
        color: $primary;
        font-size: 32px;
      }

      & + & {
        margin-left: 30px;
      }
    }
  }

  &-tags + &-text {
    margin-top: 30px;
  }
}

.related {
  margin: 60px 0;

  &-items {
    margin-top: 0;

    @include media($tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
    }

    &-item {
      margin-top: 30px;

      @include media($tablet) {
        width: 50%;
        padding-left: 30px;
      }

      @include media($ipad-land) {
        width: calc(100% / 3);
      }
    }
  }
}
