@import '../../../../packages/ui/src/Typo.module.scss';

.root {
  margin-left: 40px;

  h1 {
    margin-top: 30px;
    @extend .h1;
  }

  h1,
  h1 ~ p {
    @media (min-width: 768px) {
      margin-left: 250px;
    }
  }

  h2 {
    position: relative;
    margin-top: 160px;
    color: #4a63e7;
    width: 200px;
    font-size: 15px;
    z-index: 1;
    @extend .h2;

    @media (min-width: 768px) {
      &:global(.is-sticky) {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
      }
    }
  }

  h2 + h3 {
    @media (min-width: 768px) {
      margin-top: -30px;
    }
  }

  h3 {
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    @extend .h3;

    &,
    & + ul {
      @media (min-width: 768px) {
        padding-left: 250px;
      }
    }
  }

  h2 + h3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #141b43;
    top: -130px;
    left: 0;

    @media (min-width: 768px) {
      top: -70px;
    }
  }

  p {
    @extend .p;
  }

  a {
    @extend .link;
  }

  img {
    width: 100%;
    border-radius: 30px;
  }

  li {
    margin: 0 0 16px 0;
    list-style: none;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='1' viewBox='0 0 14 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='14' y2='0.5' stroke='%235E6AD2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0px 0.8em;
    padding-left: 28px;
  }
}
