@import './layout/WebTypo.module.scss';

.root {
  max-width: 700px;
  margin: 0 auto;

  h1 {
    margin-top: 0;
    @extend .h1;
  }

  h2 {
    position: relative;
    width: 200px;
    font-size: 15px;
    z-index: 1;
    margin-top: 30px;
    @extend .h2;
  }

  h3 {
    position: relative;
    margin-top: 40px;
    @extend .h3;
  }

  p {
    white-space: pre-line;
    @extend .p;
  }

  a {
    @extend .link;
  }

  img {
    width: 100%;
    border-radius: 30px;
  }

  li {
    font-size: 14px;
    margin: 0 0 16px 0;
    list-style: none;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='1' viewBox='0 0 14 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='14' y2='0.5' stroke='%235E6AD2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0px 0.8em;
    padding-left: 28px;
  }
}
