.root {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &-features {
    padding: 30px 0;
    //background: var(--web-section1-background);

    &-desc {
      font-size: 16px;
    }
  }
}

.hero {
  position: relative;

  &-demo {
    font-family: var(--web-title-font);
    font-size: 14px;
  }

  &-screenshot {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 80px;

    &-inner {
      border-radius: 10px;
      overflow: hidden;
    }
  }
}
