.root {
  &-flash {
    position: fixed;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;

    &-msg {
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 1em;
      color: #fff;
      font-size: 1.5rem;
      padding: 0.5em 1.5em;
      transform: translateZ(0);
    }
  }

  &-errors {
    max-height: 300px;
    padding: 30px;
    overflow: auto;
    flex-shrink: 0;
    margin-top: auto;
    background: white;
    border-top: 1px solid #dddde9;
    line-height: 1.6;
  }
}
