@import '../style.scss';

.root {
  &.is-source &-editor {
    width: 100% !important;
  }

  &-logo {
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 77px;
  }

  &-mobileMenu {
    @include l {
      display: none;
    }
  }

  &-flash {
    position: fixed;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;

    &-msg {
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 1em;
      color: #fff;
      font-size: 1.5rem;
      padding: 0.5em 1.5em;
      transform: translateZ(0);
    }
  }

  &-errors {
    max-height: 300px;
    padding: 30px;
    overflow: auto;
    flex-shrink: 0;
    margin-top: auto;
    background: var(--alinea-background);
    border-top: 1px solid var(--alinea-outline);
    line-height: 1.6;
    color: var(--alinea-foreground);
  }

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    padding: 0 16px;
    z-index: 2;
    overflow-x: auto;
    scrollbar-width: none;
    background: var(--alinea-background);
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-footer {
    display: flex;
    height: 32px;
    align-items: center;
    background: #2f3138;
    color: #cccccc;
    overflow-x: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &-button {
      height: 100%;
      font-size: 12px;
      line-height: 1;
      padding: 4px 12px;
      white-space: nowrap;
      display: flex;
      align-items: center;

      &.is-active {
        color: #f0f0f0;
        background: #23252a;
      }
    }
  }
}
