@import '../../../../ui/src/Typo.module.scss';

.root {
  line-height: 1.625;
  > :first-child {
    margin-top: 0;
  }
  max-width: 70ch;

  h1 {
    margin-top: 3em;
    @extend .h1;
  }
  h2 {
    margin-top: 2em;
    @extend .h2;
  }
  h3 {
    margin-top: 1em;
    @extend .h3;
  }
}
