@import '@/style';

@mixin light-theme {
  color-scheme: light;
  --web-accent-hsl: 230, 77%, 60%;
  --web-accent: #3f61e8;
  --web-accent-light: hsl(230, 77%, 65%);
  --web-accent-foreground: white;
  --web-background: #f8f8f8;
  --web-background-variant: white;
  --web-foreground: #171a42;
  --web-foreground-faded: #5c5e70;
  --web-selected: #ebedf9;
  --web-selected-foreground: hsl(230, 77%, 60%);
  --web-highlight: #ebeff1;
  --web-header-background-hsl: 210, 50%, 98%;
  --web-header-background: hsl(var(--web-header-background-hsl));
  --web-negative-hsl: 215, 17%, 14%;
  --web-outline: #ecebeb;
  --web-section1-background: #f1f3fd;
  --web-code-inline-background: #eff0f9;
  --web-code-inline-foreground: #1e232a;
}

@mixin dark-theme {
  color-scheme: dark;
  --web-accent-hsl: 230, 77%, 60%;
  --web-accent: hsl(230, 100%, 67%);
  --web-accent-light: hsl(230, 77%, 65%);
  --web-accent-foreground: white;
  --web-background: #1e232a;
  --web-background-variant: hsl(198, 27%, 10%);
  --web-foreground: white;
  --web-foreground-faded: #eee;
  --web-selected: hsl(230, 17%, 25%);
  --web-selected-foreground: white;
  --web-highlight: #3b4358;
  --web-header-background-hsl: 198, 27%, 10%;
  --web-header-background: hsl(var(--web-header-background-hsl));
  --web-negative-hsl: 0, 0%, 100%;
  --web-outline: #424242;
  --web-code-inline-background: #4d5268;
  --web-code-inline-foreground: #ffffff;
  --web-section1-background: #302f34;
}

:root {
  --web-title-font: 'Poppins', sans-serif;
  --web-header-height: 120px;
  --web-code-background: #0a2540;
  --web-code-highlight: var(--web-accent);
  --web-code-foreground: #fbfbfe;

  @include dark-theme;

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @include sm {
    --web-header-height: 60px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

html {
  &.is-light {
    @include light-theme;
  }

  &.is-dark {
    @include dark-theme;
  }
}

body {
  color: var(--web-foreground);
  background: var(--web-background);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

svg,
img {
  display: block;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-display: block;
  font-weight: 500;
  src: url('../../../node_modules/@fontsource/poppins/files/poppins-latin-500-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('../../../node_modules/@fontsource/inter/files/inter-latin-400-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('../../../node_modules/@fontsource/inter/files/inter-latin-700-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('../../../node_modules/@fontsource/inter/files/inter-latin-600-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('../../../node_modules/@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2')
    format('woff2');
}
