@mixin light-theme {
  color-scheme: light;
  --web-accent-hsl: 230, 77%, 60%;
  --web-accent: #4a65e8;
  --web-accent-light: hsl(230, 77%, 65%);
  --web-accent-foreground: white;
  --web-background: white;
  --web-background-variant-hsl: 240, 60%, 99%;
  --web-background-variant: linear-gradient(
    to right,
    hsl(110, 67%, 98%),
    hsl(217, 59%, 98%),
    hsl(217, 85%, 98%),
    hsl(191, 61%, 98%)
  );
  --web-foreground: #1e232a;
  --web-foreground-faded: #333a43;
  --web-selected: #f1f3fd;
  --web-selected-foreground: hsl(230, 77%, 60%);
  --web-highlight: #f3f4f6;
  --web-header-background-hsl: 0, 0%, 100%;
  --web-header-background: hsl(var(--web-header-background-hsl));
  --web-negative-hsl: 215, 17%, 14%;
  --web-outline: #ecebeb;
  --web-section1-background: #f1f3fd;
}

@mixin dark-theme {
  color-scheme: dark;
  --web-accent-hsl: 230, 77%, 60%;
  --web-accent: hsl(230, 100%, 67%);
  --web-accent-light: hsl(230, 77%, 65%);
  --web-accent-foreground: white;
  --web-background: #1e232a;
  --web-background-variant-hsl: 210, 17%, 11%;
  --web-background-variant: radial-gradient(
      circle 800px at 700px 200px,
      rgba(11, 73, 131, 0.05),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      rgba(4, 49, 44, 0.205),
      transparent
    ),
    radial-gradient(
      circle 800px at right bottom,
      hsl(205 45% 8.6%),
      transparent
    ),
    radial-gradient(
      circle 800px at calc(50% - 600px) calc(100% - 100px),
      hsla(239, 60%, 40%, 0.096),
      rgb(18, 27, 31),
      transparent
    );
  --web-foreground: white;
  --web-foreground-faded: #eee;
  --web-selected: hsl(230, 17%, 25%);
  --web-selected-foreground: white;
  --web-highlight: #3b4358;
  --web-header-background-hsl: 215, 17%, 14%;
  --web-header-background: hsl(var(--web-header-background-hsl));
  --web-negative-hsl: 0, 0%, 100%;
  --web-outline: #424242;
  --web-code-inline-background: #f5f6f7;
  --web-code-inline-foreground: #1e232a;
  --web-section1-background: #302f34;
}

:root {
  --web-title-font: 'Poppins', sans-serif;
  --web-header-height: 60px;
  --web-code-background: #1e232a;
  --web-code-highlight: #464a61;
  --web-code-foreground: #fbfbfe;

  @include dark-theme;

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

html {
  &.is-light {
    @include light-theme;
  }

  &.is-dark {
    @include dark-theme;
  }
}

body {
  color: var(--web-foreground);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-display: block;
  font-weight: 700;
  src: url('~@fontsource/poppins/files/poppins-latin-700-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('~@fontsource/inter/files/inter-latin-400-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('~@fontsource/inter/files/inter-latin-700-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('~@fontsource/inter/files/inter-latin-600-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2')
    format('woff2');
}
