@mixin s {
  @media (max-width: 439.999px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 1023.999px) {
    @content;
  }
}

@mixin m {
  @media (min-width: 440px) and (max-width: 1023.999px) {
    @content;
  }
}

@mixin ml {
  @media (min-width: 440px) {
    @content;
  }
}

@mixin l {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: hsla(var(--web-negative-hsl), 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: hsla(var(--web-negative-hsl), 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: hsla(var(--web-negative-hsl), 0.9);
  }
}
