.root {
  position: relative;
  display: none;
  color: var(--web-foreground-faded);

  &.is-open {
    display: block;
  }

  &:not(.is-level-0) {
    padding-left: 10px;
    margin-left: 18px;
    border-left: 1px solid var(--web-outline);
  }

  &-sub {
    width: 100%;

    &-header {
      font-family: var(--web-title-font);
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 35px 10px 5px 10px;
    }
    &:first-child &-header {
      padding-top: 0;
    }
  }

  &-link {
    position: relative;
    display: block;
    font-size: 13.5px;
    color: inherit;
    text-decoration: none;
    padding: 7.5px 10px;
    margin: 1px;
    cursor: pointer;
    border-radius: 8px;

    &-icon {
      display: block;
      font-size: 15px;
    }

    &:hover {
      background: var(--web-highlight);
    }

    &.is-active {
      font-weight: 600;
      background: var(--web-selected);
      color: var(--web-selected-foreground);
    }
  }
}
