.root {
  position: relative;
  background: var(--fields);
  box-shadow: var(--fields-shadow);
  border-radius: 8px;

  &:focus-within {
    background: var(--fields-selected);
    outline: 2px solid var(--fields-focus);
  }

  &-input {
    appearance: none;
    background: transparent;
    display: block;
    border: none;
    color: inherit;
    font: inherit;
    width: 100%;
    padding: 9px 16px;
    line-height: 1.5;
    outline: none;
    padding-right: 40px;
  }

  &-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
