.root {
  position: relative;
  background: var(--alinea-fields);
  box-shadow: var(--alinea-fields-shadow);
  border-radius: var(--alinea-border-radius);

  &.is-open {
    z-index: 3;
  }

  &:focus-within {
    background: var(--alinea-fields-selected);
    outline: 2px solid var(--alinea-fields-focus);
  }

  &-input {
    cursor: pointer;
    appearance: none;
    background: transparent;
    display: flex;
    align-items: center;
    border: none;
    color: inherit;
    font: inherit;
    width: 100%;
    text-align: left;
    padding: 9px 16px;
    line-height: 1.5;
    outline: none;

    &-label {
      flex: 1 0 auto;
      margin-right: 16px;

      &.is-placeholder {
        color: #9fa6b2;
      }
    }

    &-icon {
      flex: 0 0 auto;
      color: #9fa6b2;
      font-size: 18px;
    }
  }

  &-dropdown {
    list-style: none;
    margin: 0;
    width: 100%;
    max-height: 240px;
    overflow-y: auto;
    z-index: 1;
    border-radius: var(--alinea-border-radius);
    background: var(--alinea-background);
    border: 1px solid var(--alinea-outline);
    box-shadow: 0 2px 10px var(--alinea-shadow);
    outline: none;

    &-inner {
      padding: 4px;
    }

    &-option {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 36px;
      padding: 8px;
      border-radius: var(--alinea-border-radius);

      &.is-active {
        background: var(--alinea-highlight);
      }

      &.is-selected {
        font-weight: 700;
      }

      &-icon {
        width: 24px;

        .is-selected & {
          color: var(--alinea-accent);
        }
      }
    }
  }
}
