.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  &-list {
    height: 100%;
    padding: 4px 6px;

    &::-webkit-scrollbar {
      width: 12px;
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent; //var(--alinea-outline);
    }
    &::-webkit-scrollbar-thumb {
      background: hsla(var(--alinea-negative), 0.2);
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: hsla(var(--alinea-negative), 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: hsla(var(--alinea-negative), 0.9);
    }
  }
}
