.root {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  gap: 8px;
  height: 100%;
  cursor: pointer;
  min-width: 0;

  &.is-row {
    padding: 4px;
  }

  &.is-thumb {
    padding: 5px;
  }

  &-inner {
    height: 100%;
    width: 100%;
    min-width: 0;
    background: hsla(var(--alinea-negative), 0.05);
    border-radius: 0.25rem;
    padding: 0 8px;
    display: flex;
  }

  &-checkbox {
    position: absolute;
    left: -9999px;
  }

  &-selection {
    height: 100%;
    display: flex;
    font-size: 19px;
    padding: 8px 0;
    padding-right: 4px;
  }

  &.is-row &-selection {
    align-items: center;
  }

  &.is-selected &-inner {
    background: hsla(var(--alinea-negative), 0.1);
  }

  &:hover &-inner {
    background: var(--alinea-selected);
  }

  &[aria-selected] &-inner {
    background: var(--alinea-inner-outline);
    color: var(--alinea-focus-foreground);
  }
}
