.root {
  padding: 8px 0 15px 0;

  &-author {
    &-url {
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }

    &-avatar {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
    }
  }
}
