.root {
  position: relative;
}

.image {
  position: relative;
  overflow: hidden;
  padding-left: 250px !important;

  &-col {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-preview {
    position: relative;
    margin: 0 auto;
    cursor: pointer;

    &-focus {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -100%);
      font-size: 35px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:hover &-focus {
      opacity: 1;
    }

    &-img {
      background-size: 20px 20px;
      background-position: 0px 0px, 10px 10px;
      background-image: linear-gradient(
          45deg,
          #eee 25%,
          transparent 25%,
          transparent 75%,
          #eee 75%,
          #eee 100%
        ),
        linear-gradient(
          45deg,
          #eee 25%,
          white 25%,
          white 75%,
          #eee 75%,
          #eee 100%
        );
    }
  }
}
