.root {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 30px;
  width: 360px;
  max-width: 100%;

  &-content {
    background: var(--alinea-background);
    box-shadow: 0 0 1.4px var(--alinea-shadow), 0 2px 3.5px var(--alinea-shadow);
    border-top-left-radius: var(--alinea-border-radius);
    border-top-right-radius: var(--alinea-border-radius);
  }

  &.is-over &-content {
    background: var(--alinea-selected);
    outline: 2px solid var(--alinea-fields-focus);
  }

  &-uploads {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 360px;
    gap: 8px;

    &::-webkit-scrollbar {
      width: 12px;
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent; //var(--alinea-outline);
    }
    &::-webkit-scrollbar-thumb {
      background: hsla(var(--alinea-negative), 0.2);
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: hsla(var(--alinea-negative), 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: hsla(var(--alinea-negative), 0.9);
    }

    &-row {
      padding: 8px 16px;
    }
  }

  &-header {
    height: var(--alinea-header-height);

    &-label {
      cursor: pointer;
      font-weight: 600;
      font-size: 13px;
      color: var(--alinea-fields-foreground);
      padding: 8px 10px;
      display: flex;
      align-items: center;
      padding: 0 26px;
      flex: 1;

      &-input {
        display: none;
      }

      &:hover {
        color: inherit;
      }
    }

    &-close {
      cursor: pointer;
      padding: 8px 10px;
    }
  }

  &-divider {
    padding: 8px 6px;
  }

  &-footer {
    margin-top: auto;
  }
}
