@import '../../../style.scss';

$gap: 30px;

.root {
  position: relative;
  margin: 60px 0;

  &-items {
    margin-top: 0;

    @include media($tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -$gap;
    }

    &-item {
      margin-top: $gap;

      @include media($tablet) {
        width: 50%;
        padding-left: $gap;
      }

      @include media($ipad-land) {
        width: calc(100% / 3);
      }
    }
  }
}
