.root {
  position: relative;
  display: flex;
  flex-direction: column;

  &.is-open {
    box-shadow: var(--alinea-divider-top);
  }
  &.is-left {
    align-items: flex-start;
  }
  &.is-center {
    align-items: center;
  }
  &.is-right {
    align-items: flex-end;
  }
}

.trigger {
  all: unset;
  cursor: pointer;
  border-radius: var(--alinea-border-radius);
  padding: 4px;

  &:hover {
    background: var(--alinea-highlight);
    box-shadow: 0 0 0 2px var(--alinea-highlight);
  }

  &:focus {
    background: var(--alinea-background);
    box-shadow: 0 0 0 2px var(--alinea-fields-focus);
  }

  &.is-round {
    border-radius: 50%;
  }
}

.item {
  position: relative;
}
