.root {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--outline);
}

.item {
  all: unset;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 44px;

  &.is-interactive {
    cursor: pointer;
    &:hover {
      background: var(--highlight);
    }
  }
}
