.root {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  background-color: hsla(var(--alinea-positive), 0.6);
  backdrop-filter: blur(12px);
  overflow-x: auto;
}

.item {
  all: unset;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 44px;
  font-size: 13px;
  white-space: nowrap;

  &-icon {
    display: flex;
    font-size: 1.2em;
  }

  &.is-interactive {
    cursor: pointer;
    &:hover {
      background: var(--alinea-highlight);
    }
  }
}
