.root {
  display: inline-block;
  text-decoration: none;
  position: relative;
  border: none;
  background: hsla(var(--alinea-negative), 1);
  color: var(--alinea-background);
  font: inherit;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  font-size: 13px;
  transition: 0.25s ease-out;

  &:after {
    position: absolute;
    content: '';
    background: var(--alinea-background);
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &.is-medium {
    min-height: 22px;
    padding: 8px 16px;
    border-radius: 50px;
  }

  &.is-large {
    min-height: 26px;
    font-size: 14px;
    padding: 6px 13px;
    border-radius: 16px;
  }

  &:hover {
    background: var(--alinea-fields-focus);
    color: var(--alinea-focus-foreground);
  }
}
