.root {
  position: relative;
  border: none;
  background: rgba(var(--negative), 1);
  color: var(--background);
  font: inherit;
  cursor: pointer;
  //border: 2px solid var(--background);
  overflow: hidden;
  z-index: 0;
  font-size: 13px;

  &-label {
  }

  &:after {
    position: absolute;
    content: '';
    background: var(--background);
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &.is-medium {
    min-height: 22px;
    font-size: 13px;
    padding: 2px 8px;
    border-radius: 4px;
  }

  &.is-large {
    min-height: 26px;
    font-size: 14px;
    padding: 6px 13px;
    border-radius: 12px;
  }

  &:hover {
    &:after {
      opacity: 0.05;
    }
  }
}
