.root {
  position: relative;
  border-radius: 12px;
  background: var(--lift);
  overflow: hidden;
  box-shadow: 0 2px 3.5px var(--shadow);
  cursor: default;
  //box-shadow: 0 0 0 1px var(--outline);
  // border: 1px solid var(--outline);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  background: var(--highlight);
  background: var(--header);
  color: var(--header-foreground);
}

.title {
  font-size: 12px;
  font-weight: bold;
  height: 26px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
}

.content {
  flex-grow: 1;
  padding: 0 10px 10px 10px;
}

.options {
  padding: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}
