.root {
  position: relative;
  border-radius: var(--border-radius);
  background: var(--lift);
  overflow: hidden;
  box-shadow: 0 1px 0 var(--inner-outline);
  cursor: default;
  border: 1px solid var(--inner-outline);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
}

.title {
  font-size: 12.5px;
  font-weight: bold;
  height: 26px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
}

.content {
  flex-grow: 1;
  padding: 10px;

  .header + & {
    padding-top: 0;
  }
}

.options {
  padding: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}
