.root {
  position: relative;
  border-radius: 12px;
  background: var(--background);
  // box-shadow: 0 2px 3.5px var(--shadow);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  background: var(--highlight);
}

.title {
  font-size: 12px;
  font-weight: bold;
  height: 26px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
}

.content {
  flex-grow: 1;
}

.options {
  padding: 0;
}
