.root {
  display: inline-flex;
  align-items: center;
  border-radius: 14.4px;
  //height: 17px;
  font-size: 11px;
  white-space: nowrap;
  flex-shrink: 0;
  color: var(--foreground);
  background: var(--selected);
  padding-left: 4px;

  &-icon {
    margin-left: 4px;
  }

  &-label {
    padding: 4px 8px 4px 4px;
  }

  &.is-accent {
    background: var(--accent);
    color: var(--accent-foreground);
  }
}
