.root {
  display: inline-flex;
  align-items: center;
  border-radius: 14.4px;
  //height: 17px;
  font-size: 11px;
  white-space: nowrap;
  flex-shrink: 0;
  color: var(--foreground);
  background: var(--highlight);

  &-label {
    padding: 5px 8px;
  }
}
