.root {
  padding: 3px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  font-weight: bold;
  padding: 3px 0;
  // background: var(--highlight);
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  // border-bottom: 1px solid var(--shadow);

  &:hover {
    color: var(--accent-foreground);
    background: var(--accent);
  }
}
