.root {
  padding: 3px 0;
}

.button {
  font-size: 13.5px;
  font-weight: bold;
  padding: 3px 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;

  &:hover {
    color: var(--accent-foreground);
    background: var(--accent);
  }
}
