.root {
  position: relative;
  display: flex;
}

.trigger {
  all: unset;
  cursor: pointer;
  border-radius: var(--alinea-border-radius);
  padding: 4px;

  &:hover {
    background: var(--alinea-highlight);
  }
}

.items {
  position: absolute;
  top: 100%;
  padding: 5px;
  margin-top: 5px;
  min-width: 220px;
  border-radius: var(--alinea-border-radius);
  background: var(--alinea-background);
  border: 1px solid var(--alinea-outline);
  box-shadow: 0 2px 10px var(--alinea-shadow);
  outline: none;

  &.is-left {
    left: 0;
  }
  &.is-right {
    right: 0;
  }
}

.item {
  border: none;
  background: transparent;
  appearance: none;
  color: inherit;
  font: inherit;
  display: block;
  appearance: none;
  width: 100%;
  font-size: 13px;
  line-height: 1;
  display: flex;
  align-items: center;
  min-height: 25px;
  position: relative;
  user-select: none;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;

  &:focus {
    // Todo: make our css vars work with these portaled items (or somehow
    // make radix portal these in our viewport)
    background-color: #f7f6f6;
  }

  &:hover, &.is-active {
    background: var(--alinea-highlight);
  }
}
