.content {
  padding: 5px;
  margin-top: 5px;
  min-width: 220px;
  background-color: white;
  border: 1px solid #e6e0e0;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(9, 12, 15, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  font-family: Inter, sans-serif;
}

.trigger {
  all: unset;
  cursor: pointer;
}

.item {
  all: unset;
  font: inherit;
  font-size: 13px;
  line-height: 1;
  display: flex;
  align-items: center;
  min-height: 25px;
  position: relative;
  user-select: none;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;

  &:focus {
    // Todo: make our css vars work with these portaled items (or somehow
    // make radix portal these in our viewport)
    background-color: #f7f6f6;
  }
}
