.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1em;
  flex-shrink: 0;
  border: none;
  color: inherit;
  background: transparent;
  transition: 0.2s ease-out;

  &.is-active {
    background: rgba(var(--negative), 0.1);
  }

  &:hover {
    background: var(--fields-focus);
    color: var(--focus-foreground);
    box-shadow: 0 0 0 2px var(--fields-focus);
  }

  &:focus {
    outline: none;
    color: inherit;
    background: var(--background);
    box-shadow: 0 0 0 2px var(--fields-focus);
  }

  &:focus.is-active {
    background: rgba(var(--negative), 0.1);
  }
}
