.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1em;
  flex-shrink: 0;
  border: none;
  color: inherit;
  background: transparent;
  transition: 0.2s ease-out;

  &.is-active {
    background: rgba(var(--negative), 0.1);
  }

  &:hover {
    color: var(--accent-foreground);
    background: var(--accent);
    box-shadow: 0 0 0 3px var(--accent);
  }

  &:focus {
    background: rgba(var(--negative), 0.2);
    outline: 2px solid var(--fields-focus);
  }
}
