.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1em;
  flex-shrink: 0;
  border: none;
  // border: 1px solid rgba(var(--negative), 0.1);
  color: var(--foreground);
  background: transparent;

  &:hover {
    background: var(--foreground);
    color: var(--background);
  }
}
