.root {
  text-decoration: none;
  color: hsla(var(--alinea-negative), 0.6);
  border-bottom: 1px solid currentColor;
  transition: 0.25s ease-out;

  &:hover {
    color: hsla(var(--alinea-negative), 1);
  }
}
