.loader {
  margin: auto;
  position: relative;
  animation: fadein 0.25s;

  &-inner {
    border-top: 2.5px solid rgba(255, 255, 255, 0.2);
    border-right: 2.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.2);
    border-left: 2.5px solid #ffffff;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
    &,
    &:after {
      border-radius: 50%;
      width: 2em;
      height: 2em;
    }
  }

  &.mod-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
