.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  padding: 30px;

  &.is-open {
    display: flex;
  }

  &-background {
    background: hsla(var(--alinea-positive), 0.8);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.06);
    }
  }

  &.is-open &-background {
    opacity: 1;
  }

  &-inner {
    position: relative;
    margin: auto;
    padding: 45px;
    background: var(--alinea-background);
    border-radius: 16px;
    max-width: 1024px;
    max-height: 768px;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 110px 10px var(--alinea-shadow);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--alinea-highlight);

    &-close {
      background: var(--alinea-inner);
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}
