.root {
  position: relative;
  z-index: 5;

  &-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsla(var(--positive), 0.5);
    backdrop-filter: blur(2px);
    padding: 30px;

    &:global(.ReactModal__Overlay) {
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }

    &:global(.ReactModal__Overlay--after-open) {
      opacity: 1;
    }

    &:global(.ReactModal__Overlay--before-close) {
      opacity: 0;
    }
  }

  &-inner {
    position: relative;
    outline: none;
    overflow-y: auto;
    min-width: 30%;
    max-width: 960px;
    max-height: 768px;
    padding: 45px 30px;
    background: var(--background);
    border-radius: 16px;
    border: 1px solid var(--highlight);
    box-shadow: 0 5px 15px var(--shadow);

    &:global(.ReactModal__Content) {
      opacity: 0;
      transition: all 150ms ease-in-out;
    }

    &:global(.ReactModal__Content--after-open) {
      opacity: 1;
    }

    &:global(.ReactModal__Content--before-close) {
      opacity: 0;
    }

    &-close {
      background: var(--inner);
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}
