.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: none;

  &.is-open {
    display: flex;
  }

  &-background {
    background: rgba(var(--positive), 0.8);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.is-open &-background {
    opacity: 1;
  }

  &-inner {
    position: relative;
    margin: 50px auto;
    //box-shadow: 0 10px 150px 20px var(--shadow);
    padding: 35px;
    background: var(--lift);
    border-radius: 12px;
    max-width: 768px;
    width: 100%;
    box-shadow: 0 2px 3.5px var(--shadow);
    display: flex;
    flex-direction: column;
  }
}
