.root {
  position: absolute;
  inset: 0;
  z-index: 4;
  display: none;
  padding: 60px 30px 40px 30px;

  &.is-open {
    display: flex;
  }

  &-background {
    background: hsla(var(--alinea-positive), 0.8);
    backdrop-filter: blur(5px);
    position: absolute;
    inset: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.06);
    }
  }

  &.is-open &-background {
    opacity: 1;
  }

  &-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 45px;
    border-radius: 16px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    background: var(--alinea-background);
    border: 1px solid var(--alinea-outline);
    box-shadow: 0 2px 110px 10px var(--alinea-shadow);

    &-close {
      background: var(--alinea-inner);
      position: absolute;
      top: 12px;
      right: 12px;

      &:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
      }
    }
  }
}
