.root {
  display: flex;
  height: 100%;

  &-inner {
    flex-grow: 1;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background: transparent; //var(--outline);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(var(--negative), 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(var(--negative), 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background: rgba(var(--negative), 0.9);
    }
  }
}

.divider {
  position: relative;

  &-handle {
    position: absolute;
    cursor: col-resize;
    left: -8px;
    right: -8px;
    top: 0;
    bottom: 0;

    &-line {
      height: 100%;
      margin-left: 8px;
      border-left: 1px solid var(--outline);
      position: relative;
      z-index: 4;
    }

    &:hover &-line {
      border-color: var(--highlight);
    }
  }
}
