.root {
  position: relative;
  display: flex;
}

.trigger {
  all: unset;
  cursor: pointer;
  border-radius: var(--alinea-border-radius);
  padding: 4px;

  &:hover {
    background: var(--alinea-highlight);
  }
}

.items {
  position: absolute;
  top: 100%;
  padding: 20px;
  margin-top: 5px;
  min-width: 240px;
  border-radius: var(--alinea-border-radius);
  background: var(--alinea-background);
  border: 1px solid var(--alinea-outline);
  box-shadow: 0 2px 10px var(--alinea-shadow);
  outline: none;

  &.is-left {
    left: 0;
  }
  &.is-right {
    right: 0;
  }
}

.header {
  padding-bottom: 10px;
  box-shadow: var(--alinea-divider-bottom);
}

.footer {
  padding-top: 10px;
  box-shadow: var(--alinea-divider-top);
}
