.select {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0;
  background: var(--fields);
  border-radius: 0.5rem;
  line-height: 1.5;

  &-button {
    &-icon {
      font-size: 20px;
      height: 20px;
    }
  }

  > button {
    width: 100%;
    padding: 0.5625rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
    gap: 1rem;
  }
}
