.root {
  display: flex;
  height: 100%;
  flex-shrink: 0;
  flex: 1 0 0;
  //box-shadow: 0 0 200px black;

  &-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 44px;
    flex-shrink: 0;
    height: 100%;
    border-right: 1px solid var(--outline);
    //box-shadow: 0 0 120px black;

    &-item {
      position: relative;
      z-index: 1;
      display: flex;
      height: 44px;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      cursor: pointer;
      color: hsla(var(--negative), 0.4);

      &:hover {
        color: var(--foreground);
        background: var(--highlight);
      }

      &.is-selected {
        color: var(--foreground);
        // background: var(--selected);

        /*&:before {
          position: absolute;
          content: '';
          width: 1.5px;
          height: 100%;
          background: var(--foreground);
          right: 0;
          top: 0;
        }*/
      }
    }
  }
}
