.list {
  display: flex;
  margin: 0 6px 10px 6px;
  gap: 8px;
  background: var(--alinea-selected);
  border-radius: var(--alinea-border-radius);
  padding: 2px;
  overflow: auto;
  max-width: 100%;
}

.trigger {
  appearance: none;
  background: transparent;
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  padding: 8px 14px;
  cursor: pointer;
  opacity: 0.7;
  font-size: 13px;
  line-height: 1.1;
  outline: none;
  border-radius: calc(var(--alinea-border-radius) - 2.5px);
  font-weight: 600;
  transition: 0.25s ease-out;
  white-space: nowrap;
  color: var(--alinea-tabs-trigger-foreground);

  &:hover {
    opacity: 1;
    background: var(--alinea-highlight);
  }

  &.is-selected {
    opacity: 1;
    background: var(--alinea-tabs-trigger-background);
    box-shadow: 0 2px 3.5px var(--alinea-shadow), var(--alinea-divider-top);
  }
}
