.list {
  display: flex;
  gap: 20px;
  padding: 0 6px 8px 6px;
}

.trigger {
  appearance: none;
  background: transparent;
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  padding: 4px 0 8px 0;
  cursor: pointer;

  &[data-state='active'] {
    box-shadow: inset 0 -1px 0 0 var(--accent), 0 1px 0 0 var(--accent);
  }
}
