@mixin dark-theme {
  --background: hsl(0, 0%, 10%);
  --foreground: white;
  --foreground-faded: hsl(0, 3%, 83%);
  --inner: hsl(230, 6%, 15%);
  --highlight: hsl(230, 6%, 16%);
  --lift: rgb(26, 26, 26);
  --selected: hsl(230, 6%, 10%);
  --outline: hsl(230, 6%, 18%);
  --header: hsl(230, 5%, 25%);
  --header-foreground: #c0c5c9;
  --fields: hsl(0, 0%, 8%);
  --fields-focus: #326db6;
  --positive: 26, 26, 26;
  --negative: 236, 231, 231;
  --shadow: rgba(0, 0, 0, 0.5);
}

@mixin light-theme {
  // --background: rgb(244, 244, 246); //hsl(0, 12%, 92%);
  --background: rgb(236, 231, 231);
  --foreground: #0d1214;
  --foreground-faded: #1e282e;
  --inner: hsl(0, 12%, 92%);
  --highlight: hsl(0, 10%, 96%);
  --lift: hsl(0, 10%, 90%);
  --selected: hsl(0, 0%, 97%);
  --outline: hsl(240, 15%, 88%);
  --header: hsl(0, 12%, 98%);
  --header-foreground: #756f6f;
  --fields: hsl(0, 0%, 97%);
  --fields-focus: #71a7ea;
  --positive: 236, 231, 231;
  --negative: 26, 26, 26;
  --shadow: rgba(0, 0, 0, 0.08);
}

.root {
  @include dark-theme;

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  &.is-light {
    @include light-theme;
  }

  &.is-dark {
    @include dark-theme;
  }

  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--foreground-faded);
  font-size: 14px;
  overflow: hidden;
  background: var(--background);
  font-display: block;
  font-family: Inter, sans-serif;
}
