html,
body,
:global(#root) {
  height: 100%;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root {
  &.is-dark {
    //--background: #11181c;
    --background: #121923;
    --foreground: white;
    --highlight: #393a3f;
    --selected: #303136;
    --outline: #303136;
    --negative: 255, 255, 255;
  }

  &.is-light {
    --background: white;
    --foreground: #11181c;
    --highlight: #f7f6f6;
    --selected: rgb(246, 249, 250); //#f5f4f0;
    --outline: rgb(246, 249, 250);
    --negative: 0, 0, 0;
  }

  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--foreground);
  font-size: 14px;
  overflow: hidden;
  background: var(--background);
  font-display: block;
  font-family: Inter, sans-serif;
}
