@mixin dark-theme {
  --alinea-hue: 212;
  --alinea-saturation: 18%;
  --alinea-positive: var(--alinea-hue), var(--alinea-saturation), 14%;
  --alinea-negative: 0, 8%, 92%;
  --alinea-background: hsl(var(--alinea-positive));
  --alinea-foreground: white;
  --alinea-foreground-faded: hsl(0, 3%, 85%);
  --alinea-toolbar: hsl(var(--alinea-hue), var(--alinea-saturation), 20%);
  --alinea-inner: hsl(var(--alinea-hue), var(--alinea-saturation), 12%);
  --alinea-inner-outline: hsl(var(--alinea-hue), var(--alinea-saturation), 13%);
  --alinea-highlight: hsl(var(--alinea-hue), var(--alinea-saturation), 18%);
  --alinea-lift: hsl(var(--alinea-hue), var(--alinea-saturation), 19%);
  --alinea-selected: hsl(var(--alinea-hue), var(--alinea-saturation), 22%);
  --alinea-outline: hsl(var(--alinea-hue), var(--alinea-saturation), 20%);
  --alinea-fields: hsl(var(--alinea-hue), var(--alinea-saturation), 11.5%);
  --alinea-fields-foreground: #dee1e4;
  --alinea-fields-shadow: hsl(var(--alinea-hue), var(--alinea-saturation), 30%);
  --alinea-fields-outline: var(--alinea-inner-outline);
  --alinea-fields-selected: var(--alinea-selected);
  --alinea-fields-focus: hsl(var(--alinea-hue), var(--alinea-saturation), 30%);
  --alinea-focus-foreground: hsl(var(--alinea-negative));
  --alinea-shadow: rgba(0, 0, 0, 0.4);
  --alinea-divider-top: 0 -1px 0 rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
  --alinea-divider-bottom: 0 1px 0 rgba(255, 255, 255, 0.08),
    inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@mixin light-theme {
  --alinea-hue: 240;
  --alinea-saturation: 20%;
  --alinea-positive: var(--alinea-hue), var(--alinea-saturation), 97%;
  --alinea-negative: 212, 18%, 14%;
  --alinea-background: hsl(var(--alinea-positive));
  --alinea-foreground: hsl(197, 21%, 6%);
  --alinea-foreground-faded: hsl(203, 5%, 25%);
  --alinea-toolbar: hsl(var(--alinea-hue), var(--alinea-saturation), 98%);
  --alinea-inner: hsl(var(--alinea-hue), var(--alinea-saturation), 98.5%);
  --alinea-inner-outline: #dcdce4;
  --alinea-highlight: hsl(var(--alinea-hue), var(--alinea-saturation), 98%);
  --alinea-lift:  hsl(var(--alinea-hue), var(--alinea-saturation), 96%);
  --alinea-selected: hsl(var(--alinea-hue), var(--alinea-saturation), 100%);
  --alinea-outline: hsl(var(--alinea-hue), var(--alinea-saturation), 89%);
  --alinea-shadow: rgba(0, 0, 0, 0.08);
  --alinea-fields: hsl(0, 0%, 100%);
  --alinea-fields-foreground: #1e282e;
  --alinea-fields-shadow: 0 0px 0 1px #ececec;
  --alinea-fields-selected: white;
  --alinea-fields-focus: #dcdce4;
  --alinea-focus-foreground: hsl(var(--alinea-negative));
  --alinea-divider-top: 0 -1px 0 rgba(0, 0, 0, 0.06),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  --alinea-divider-bottom: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
}

.root {
  @include dark-theme;
  --alinea-border-radius: 8px;
  color: var(--alinea-foreground-faded);
  font-size: 14px;
  font-display: block;
  font-family: Inter, sans-serif;

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  &.is-light {
    @include light-theme;
  }

  &.is-dark {
    @include dark-theme;
  }
}

.main {
  display: flex;
  flex-direction: column;
  background: var(--alinea-background);
  min-height: 100vh;

  &.is-contain {
    height: 100vh;
    overflow: hidden;
  }
}