.root {
  position: relative;

  &-inner {
    position: relative;
    /*padding: 15px;
    border-radius: 12px;
    background: var(--inner);*/
  }
}

.row {
  position: relative;
  // background: var(--lift);

  & + & {
    box-shadow: var(--divider-top);
  }

  &.is-dragging {
    opacity: 0.5;
  }

  &.is-overlay {
    border-radius: 12px;
    box-shadow: 0 2px 30px var(--shadow);
    overflow: hidden;
  }

  &-header {
    padding: 8px 0;
    flex-grow: 1;
  }

  &-staticHandle {
    width: 1.8em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.create {
  position: relative;
  padding: 4px 0 5px 0;
  .row + & {
    box-shadow: var(--divider-top);
  }
}
