.root {
  position: relative;

  &-inner {
    border-radius: 12px;
    background: var(--inner);
    padding: 8px 4px;
  }
}

.row {
  height: 50px;
  padding: 4px 16px;

  &.is-overlay {
    background: var(--background);
    border-radius: 6px;
    box-shadow: 0 2px 30px var(--shadow);
  }

  &.is-dragging {
    opacity: 0.5;
  }
}
