.root {
  position: relative;
  z-index: 1;
  height: 32px;
  font-size: 13px;
  max-width: 100%;
  padding: 1px 6px;

  &-inner {
    height: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-loader {
    height: 26px;
    background: var(--alinea-selected);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: var(--alinea-foreground-faded);
    cursor: pointer;
    text-decoration: none;
    padding-right: 15px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--alinea-accent);
      color: var(--alinea-accent-foreground);
      border-radius: 15px;
      height: 15px;
      min-width: 15px;
      padding: 0 3px;
      white-space: nowrap;
      font-size: 10.4px;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      margin-right: 4px;
      height: 20px;
      text-align: center;
      flex-shrink: 0;
      color: hsla(var(--alinea-negative), 0.5);

      &:hover {
        color: var(--alinea-foreground);
      }
    }

    &-status {
      flex-shrink: 0;
      background: var(--alinea-accent);
      color: var(--alinea-accent-foreground);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;
      font-size: 10px;

      svg {
        display: block;
      }
    }
  }

  &-create {
    opacity: 0;
    padding-right: 8px;
  }

  &:hover &-inner {
    background: var(--alinea-highlight);
  }

  &.is-selected &-inner {
    background: var(--alinea-selected);
  }

  &.is-untranslated &-inner {
    opacity: 0.2;
  }

  &.is-dragOverlay &-inner {
    background: var(--alinea-selected);
  }

  /*&.is-draft &-link {
    color: var(--alinea-accent);
  }*/

  &:hover &-link,
  &.is-selected &-link {
    color: var(--alinea-foreground);
  }

  &:hover &-create,
  &.is-selected &-create {
    opacity: 1;
  }
}
