.root {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 28px;
  font-size: 13px;
  font-weight: 500;
  max-width: 100%;
  border-radius: 6px;
  margin: 2px 6px;

  &-loader {
    height: 26px;
    background: var(--selected);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: var(--foreground-faded);
    cursor: pointer;
    text-decoration: none;
    padding-right: 15px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--accent);
      color: var(--accent-foreground);
      border-radius: 15px;
      height: 15px;
      min-width: 15px;
      padding: 0 3px;
      white-space: nowrap;
      font-size: 9.5px;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      margin-right: 4px;
      height: 20px;
      text-align: center;
      flex-shrink: 0;
      color: rgba(var(--negative), 0.5);

      &:hover {
        color: var(--foreground);
      }
    }
  }

  &:hover {
    background: var(--highlight);
  }

  &.is-selected {
    background: var(--selected);
  }

  &:hover &-link,
  &.is-selected &-link {
    color: var(--foreground);
  }

  &-create {
    opacity: 0;
    padding-right: 10px;
  }

  &:hover &-create,
  &.is-selected &-create {
    opacity: 1;
  }
}
