@import '../../ui/style.scss';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include s {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--alinea-header-height);
    background: var(--alinea-background);
    overflow: auto;
  }

  &-separator {
    border-right: 1px solid var(--alinea-outline);
    height: 80%;
    width: 1px;
    margin: auto 0;
  }

  &-dropdown {
    padding: 8px;
    font-size: 13px;
    white-space: nowrap;
  }
}
