@import '@/style.scss';

.root {
  &-nav {
    margin-top: 30px + 14px;
    padding-top: 30px;
    border-top: 1px solid var(--web-outline);

    &-link {
      display: inline-flex;
      gap: 8px;
      border-radius: 12px;
      padding: 14px 20px;
      line-height: 1.2;
      font-size: 14px;
      transition: background 0.25s ease-out;

      @include s {
        display: flex;
      }

      &-icon {
        margin-top: auto;
      }

      &:hover {
        background: hsla(var(--web-negative-hsl), 0.05);
      }

      &.is-right {
        margin-left: auto;

        @include s {
          display: flex;
        }
      }

      &-icon,
      &-label {
        color: var(--web-accent);
      }

      &-label {
        font-size: 12px;
        font-weight: bold;
      }

      &-title {
        font-family: var(--web-title-font);
        font-size: 15px;
        font-weight: bold;
        display: flex;
        align-items: center;
      }
    }
  }
}
