.root {
  height: 100%;
  min-width: 0;
  font-size: 13px;
  padding: 0 4px;

  &-url {
    overflow: hidden;
    max-width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-desc {
    font-style: italic;
  }
}
