.root {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font: inherit;
  border-radius: 12px;
  padding: 10px 16px;
  line-height: 1.2;
  font-size: 14px;
  //box-shadow: 0 1px 20px var(--web-outline);
  background: var(--web-background);
  margin-bottom: 18px;
  margin-top: 12px;
  margin-right: 22px;
  margin-left: -6px;
  transition: 0.25s ease-out;

  &:hover {
    color: var(--web-accent);
    background: var(--web-selected);
  }

  &-title {
    font-weight: 600;
    font-size: 15px;
  }
}
