.root {
  position: relative;
  margin: 20px 0 28px 0;
  color: var(--web-code-foreground);
  line-height: 1.5;

  &-fileName {
    align-self: flex-start;
    font-family: 'JetBrains Mono', monospace;
    padding: 7.5px 10px;
    border-radius: 8px;
    font-size: 13.5px;
    color: var(--web-accent);
    background: var(--web-selected);
    font-weight: 600;
  }

  &-code {
    > pre {
      font-size: 14px;
      padding: 22px 25px;
      border-radius: 14px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 4px;
        height: 12px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
      &::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, 0.9);
      }

      > code {
        font-family: 'JetBrains Mono', monospace;
      }
    }
  }

  &.is-compact {
    line-height: 1.2;
  }

  &-copy {
    cursor: pointer;
    color: hsla(0, 0%, 100%, 0.4);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #424242;
    background: hsla(0, 0%, 100%, 0.05);
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: 0.25s ease-out;

    &:hover {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }

  &:hover,
  &.is-copied {
    .root-copy {
      opacity: 1;
    }
  }
}
