.root {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &-import {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 6px 8px 6px 20px;
    border-radius: var(--web-docs-radius);
    border: 1px solid var(--web-code-outline);
    background: var(--web-code-background);
    color: var(--web-code-foreground);

    &-code {
      min-width: 0;
      overflow-x: auto;
      white-space: nowrap;
      scrollbar-width: none;
      font: var(--web-docs-font-code);

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-keyword {
      color: var(--web-code-keyword);
    }

    &-string {
      color: var(--web-code-string);
    }
  }
}
