.root {
  display: flex;
  flex-direction: column;
  gap: 56px;

  &-more {
    max-width: 720px;
    padding-top: 24px;
    border-top: 1px solid var(--web-outline);
    color: var(--web-foreground-faded);

    &-code {
      font: 400 0.875em/1 var(--web-mono-font);
      color: var(--web-foreground);
    }

    &-link {
      font-weight: 500;
      color: var(--web-accent);

      &:hover {
        color: var(--web-accent-strong);
      }
    }
  }
}
