.root {
  display: inline-block;
  border-radius: 12px;
  padding: 10px 16px;
  line-height: 1.2;
  font-size: 14px;
  margin: 10px 0;
  background: var(--web-background);

  &-icon {
    display: block;
    font-size: 18px;
    flex-shrink: 0;
    color: hsla(var(--web-negative-hsl), 0.4);
    margin-top: 1px;
  }
}
