.root {
  width: 100%;
  padding: 35px;
  overflow: auto;

  &-inner {
    max-width: 768px;
    margin: 0 auto;
  }

  &-header {
    padding-bottom: 20px;
  }

  &-list {
    position: relative;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent; //var(--alinea-outline);
  }
  &::-webkit-scrollbar-thumb {
    background: hsla(var(--alinea-negative), 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: hsla(var(--alinea-negative), 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: hsla(var(--alinea-negative), 0.9);
  }
}

.diff {
  padding: 10px;
}
