.root {
  position: relative;
  margin: 0 -8px;
  padding: 8px 0;
}

.row {
  position: relative;
  z-index: 0;
  padding: 8px;

  &:before {
    content: '';
    position: absolute;
    background: var(--highlight);
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &.is-dragging {
    opacity: 0.5;
  }
}
