.root {
  position: relative;

  &-inner {
    position: relative;
    /*padding: 15px;
    border-radius: 12px;
    background: var(--alinea-inner);*/
  }
}

.row {
  position: relative;
  // background: var(--alinea-lift);

  & + & {
    box-shadow: var(--alinea-divider-top);
  }

  &.is-dragging {
    opacity: 0.5;
  }

  &.is-overlay {
    border-radius: 12px;
    box-shadow: 0 2px 30px var(--alinea-shadow);
    overflow: hidden;
  }

  &:nth-last-child(2) > &-accordion {
    display: none;
  }

  &-accordion {
    margin-bottom: 2px;
  }
}

.create {
  position: relative;
  padding: 4px 0 5px 0;
  .row + & {
    box-shadow: var(--alinea-divider-top);
  }
}
