.root {
  position: relative;

  &-inner {
    padding: 12px 18px 8px 18px;
    background: var(--inner);
  }

  &-title {
    padding-bottom: 12px;
  }

  &-rows {
    padding-bottom: 4px;
  }

  & & {
    padding: 8px;
  }

  & & &-inner {
    border-radius: 6px;
  }

  &-header {
    padding: 8px;
  }
}

.row {
  position: relative;
  background: var(--background);

  & + & {
    // border-top: 1px solid var(--outline);
  }

  &.is-dragging {
    opacity: 0.5;
  }
}
