.root {
  position: relative;

  &-inner {
    padding: 15px;
    border-radius: 12px;
    background: var(--inner);
  }
}

.row {
  position: relative;
  background: var(--lift);

  & + & {
    border-top: 1px solid var(--outline);
  }

  &.is-dragging {
    opacity: 0.5;
  }

  &.is-overlay {
    border-radius: 12px;
    box-shadow: 0 2px 30px var(--shadow);
    overflow: hidden;
  }
}

.create {
  padding: 4px 0 5px 0;
  .row + & {
    border-top: 1px solid var(--outline);
  }
}
