@mixin light-theme {
  --web-accent-hsl: 230, 77%, 60%;
  --web-accent: #4a65e8;
  --web-accent-light: hsl(230, 77%, 65%);
  --web-accent-foreground: white;
  --web-background: white;
  --web-background-variant-hsl: 240, 60%, 99%;
  --web-background-variant: #fbfbfe;
  --web-foreground: #1e232a;
  --web-foreground-faded: #333a43;
  --web-selected: hsl(230, 77%, 97%);
  --web-selected-foreground: hsl(230, 77%, 60%);
  --web-highlight: #f3f4f6;
  --web-header-background-hsl: 0, 0%, 100%;
  --web-header-background: hsl(var(--web-header-foreground-hsl));
  --web-negative-hsl: 215, 17%, 14%;
  --web-code-background: #1e232a;
  --web-code-highlight: #292c3d;
  --web-code-foreground: #fbfbfe;
  --web-outline: #ecebeb;
}

@mixin dark-theme {
  --web-accent-hsl: 230, 77%, 60%;
  --web-accent: #4a63e7;
  --web-accent-light: hsl(230, 77%, 65%);
  --web-accent-foreground: white;
  --web-background: #1e232a;
  --web-background-variant-hsl: 210, 17%, 11%;
  --web-background-variant: #181d22;
  --web-foreground: white;
  --web-foreground-faded: #eee;
  --web-selected: #383d44;
  --web-highlight: #444548;
  --web-header-background-hsl: 215, 17%, 14%;
  --web-header-background: hsl(var(--web-header-background-hsl));
  --web-negative-hsl: 0, 0%, 100%;
  --web-code-background: #1e232a;
  --web-code-highlight: #292c3d;
  --web-code-foreground: #fbfbfe;
  --web-outline: #424242;
  --web-code-inline-background: #ecebeb;
  --web-code-inline-foreground: #1e232a;
}

:root {
  --web-title-font: 'Poppins', sans-serif;
  --web-header-height: 60px;

  @include dark-theme;

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html,
body,
#__next {
  height: 100%;
}

body {
  color: var(--web-foreground);
  font-size: 15px;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 100;
  src: url('./fonts/poppins-v20-latin-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 200;
  src: url('./fonts/poppins-v20-latin-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src: url('./fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('./fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src: url('./fonts/poppins-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('./fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('./fonts/poppins-v20-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url('./fonts/poppins-v20-latin-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src: url('./fonts/poppins-v20-latin-900.woff2') format('woff2');
}
