@mixin light-theme {
  color-scheme: light;
  --web-accent-hsl: 230, 77%, 60%;
  --web-accent: #4a65e8;
  --web-accent-light: hsl(230, 77%, 65%);
  --web-accent-foreground: white;
  --web-background: white;
  --web-background-variant-hsl: 240, 60%, 99%;
  --web-background-variant: linear-gradient(
    to right,
    hsl(110, 67%, 98%),
    hsl(217, 59%, 98%),
    hsl(217, 85%, 98%),
    hsl(191, 61%, 98%)
  );
  --web-foreground: #1e232a;
  --web-foreground-faded: #333a43;
  --web-selected: #f1f3fd;
  --web-selected-foreground: hsl(230, 77%, 60%);
  --web-highlight: #f3f4f6;
  --web-header-background-hsl: 0, 0%, 100%;
  --web-header-background: hsl(var(--web-header-background-hsl));
  --web-negative-hsl: 215, 17%, 14%;
  --web-outline: #ecebeb;
  --web-section1-background: #f1f3fd;
}

@mixin dark-theme {
  color-scheme: dark;
  --web-accent-hsl: 230, 77%, 60%;
  --web-accent: #5975ff;
  --web-accent-light: hsl(230, 77%, 65%);
  --web-accent-foreground: white;
  --web-background: #1e232a;
  --web-background-variant-hsl: 210, 17%, 11%;
  --web-background-variant: radial-gradient(
      circle 800px at 700px 200px,
      rgba(11, 73, 131, 0.05),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      rgba(4, 49, 44, 0.205),
      transparent
    ),
    radial-gradient(
      circle 800px at right bottom,
      hsl(205 45% 8.6%),
      transparent
    ),
    radial-gradient(
      circle 800px at calc(50% - 600px) calc(100% - 100px),
      hsl(211, 68%, 6%),
      rgb(30, 18, 31),
      transparent
    );
  --web-foreground: white;
  --web-foreground-faded: #eee;
  --web-selected: hsl(230, 17%, 25%);
  --web-selected-foreground: white;
  --web-highlight: #3b4358;
  --web-header-background-hsl: 215, 17%, 14%;
  --web-header-background: hsl(var(--web-header-background-hsl));
  --web-negative-hsl: 0, 0%, 100%;
  --web-outline: #424242;
  --web-code-inline-background: #ecebeb;
  --web-code-inline-foreground: #1e232a;
  --web-section1-background: #302f34;
}

:root {
  --web-title-font: 'Poppins', sans-serif;
  --web-header-height: 60px;
  --web-code-background: #1e232a;
  --web-code-highlight: #464a61;
  --web-code-foreground: #fbfbfe;

  @include dark-theme;

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }
}

html,
body,
#__next {
  height: 100%;
}

html {
  &.is-light {
    @include light-theme;
  }

  &.is-dark {
    @include dark-theme;
  }
}

body {
  color: var(--web-foreground);
  font-size: 15px;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 100;
  src: url('./fonts/poppins-v20-latin-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 200;
  src: url('./fonts/poppins-v20-latin-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src: url('./fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('./fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src: url('./fonts/poppins-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('./fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('./fonts/poppins-v20-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url('./fonts/poppins-v20-latin-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src: url('./fonts/poppins-v20-latin-900.woff2') format('woff2');
}
