@mixin light-theme {
  --web-background: white;
  --web-background-variant-hsl: 228, 71%, 99%;
  --web-background-variant: hsl(var(--web-background-variant-hsl));
  --web-foreground-faded: #667587;
  --web-header-foreground-hsl: 231, 54%, 17%;
  --web-header-foreground: hsl(var(--web-header-foreground-hsl));
  --web-header-background-hsl: 212, 18%, 14%;
  --web-header-background: hsl(var(--web-header-background-hsl));
  --web-header-foreground-hsl: 228, 71%, 99%;
  --web-header-foreground: hsl(var(--web-header-foreground-hsl));
  --web-negative-hsl: 212, 18%, 14%;
}

@mixin dark-theme {
  // todo
  @include light-theme;
}

:root {
  --web-title-font: 'Poppins', sans-serif;
  @include dark-theme;

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 100;
  src: url('./fonts/poppins-v20-latin-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 200;
  src: url('./fonts/poppins-v20-latin-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src: url('./fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('./fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src: url('./fonts/poppins-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('./fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('./fonts/poppins-v20-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url('./fonts/poppins-v20-latin-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src: url('./fonts/poppins-v20-latin-900.woff2') format('woff2');
}
