@import "../theme.css";

.Checkbox {
  --alinea-selected-color: var(--alinea-highlight-background);
  --alinea-checkmark-color: var(--alinea-highlight-foreground);
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.571rem;
  font-size: var(--alinea-font-size-base);
  line-height: 1;
  color: var(--alinea-text-color);
  forced-color-adjust: none;

  .Checkbox-box {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alinea-field-background);
    border: 1px solid var(--alinea-border-color);
    border-radius: 4px;
    transition: var(--alinea-transition);
    transition-property: background, border, box-shadow;
  }

  .Checkbox-mark {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--alinea-checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: var(--alinea-transition);
  }

  &[data-hovered] .Checkbox-box {
    border-color: var(--alinea-border-color-hover);
    box-shadow: 0 0 0 4px var(--alinea-box-shadow-color);
  }

  &[data-focus-visible] .Checkbox-box {
    outline: 2px solid var(--alinea-border-color);
    outline-offset: 2px;
  }

  &[data-selected],
  &[data-indeterminate] {
    .Checkbox-box {
      background-color: var(--alinea-selected-color);
      border-color: var(--alinea-selected-color);
    }

    &[data-hovered] .Checkbox-box {
      box-shadow: 0 0 0 4px var(--alinea-highlight-overlay);
    }

    &[data-focus-visible] .Checkbox-box {
      outline-color: var(--alinea-selected-color);
    }

    .Checkbox-mark {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    & .Checkbox-mark {
      stroke: none;
      fill: var(--alinea-checkmark-color);
    }
  }

  &[data-invalid] {
    .Checkbox-box {
      border-color: var(--alinea-invalid-color);
    }

    &[data-hovered] .Checkbox-box {
      box-shadow: 0 0 0 4px var(--alinea-invalid-overlay);
    }

    &[data-focus-visible] .Checkbox-box {
      outline-color: var(--alinea-invalid-color);
    }

    &[data-selected],
    &[data-indeterminate] {
      .Checkbox-box {
        background-color: var(--alinea-invalid-color);
      }
    }
  }

  &[data-disabled],
  &[data-readonly] {
    pointer-events: none;
    color: var(--alinea-text-color-disabled);
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  &[data-readonly] {
    .Checkbox-box {
      background-color: var(--alinea-border-color);
      border-color: var(--alinea-border-color);
    }
  }

  .Checkbox-description {
    color: var(--alinea-text-color-base);
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
    font-style: italic;
    white-space: normal;
    word-wrap: break-word;
  }
}
