.DatePicker {
  gap: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 10px;
  background: var(--alinea-input);
  border: 1px solid var(--alinea-border);
  border-radius: 6px;
  outline: 4px solid transparent;
  color: var(--alinea-fg);
  font-size: var(--alinea-font-size-base);
  line-height: 1.5;
  transition: var(--alinea-transition);

  &[data-hovered] {
    border-color: var(--alinea-border-hover);
    outline-color: var(--alinea-ring-subtle);
  }
  [data-open] &,
  [data-focus-within] & {
    border-color: var(--alinea-border-accent);
    outline-color: var(--alinea-primary-overlay);
  }
  &[data-invalid='true'] {
    border: 1px solid var(--alinea-border-danger);
    outline: 3px solid var(--alinea-danger-overlay);
  }
  &[data-disabled] {
    pointer-events: none;
    background-color: var(--alinea-input-disabled);
    color: var(--alinea-fg-disabled);
    opacity: 0.5;
  }

  .DatePicker-input {
    flex: 1;
    min-width: 0;

    .DatePicker-input-segment {
      padding-inline: 1px;
      transition: var(--alinea-transition);

      &[data-placeholder] {
        color: var(--alinea-fg-subtle);
      }

      &[data-hovered] {
        color: var(--alinea-fg);
      }

      &[data-focused] {
        outline: none;
        background-color: var(--alinea-primary-overlay);
        border-radius: 4px;
        color: var(--alinea-primary);
      }
    }
  }

  .DatePicker-trigger {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--alinea-transition);
    color: var(--alinea-fg-subtle);

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      border-radius: 4px;
      background-color: transparent;
      transition: var(--alinea-transition);
    }

    .Icon {
      position: relative;
    }

    &[data-hovered],
    &[data-focus-within],
    &[data-focused] {
      outline: none;
      color: var(--alinea-fg-muted);

      &:before {
        background-color: var(--alinea-muted);
      }
    }

    [data-open] & {
      color: var(--alinea-primary-icon);

      &:before {
        background-color: var(--alinea-primary-overlay);
      }
    }
  }
}
