.DropZone {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin-inline: auto;
  border-radius: 8px;
  border: 2px dashed var(--alinea-border);
  color: var(--alinea-fg);
  transition: var(--alinea-transition);
  transition-property: background, border, box-shadow;
}

.DropZone[data-drop-target] {
  background-color: var(--alinea-primary-overlay);
  border-color: var(--alinea-primary);
  box-shadow: 0 0 0 3px var(--alinea-primary-overlay);
}
