.Elevation {
  --alinea-elevation-background: var(--alinea-input);
  --alinea-elevation-radius: 6px;
  background: var(--alinea-elevation-background);
  border: 1px solid var(--alinea-border);
  box-shadow: var(--alinea-shadow-raised);
  border-radius: var(--alinea-elevation-radius);
  transition: box-shadow var(--alinea-transition);
  padding: 10px;
  font-size: var(--alinea-font-size-base);
  box-sizing: border-box;

  &:empty {
    display: none;
  }

  & .ElevationHeader {
    padding: 0 3px;
  }
}
