@import "../theme.css";

.Label {
  .Label-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 4px 8px;
    padding-bottom: 8px;
    line-height: 1;
  }

  .Label-title {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .Label-icon {
    font-size: var(--alinea-font-size-base);
    color: var(--alinea-content-primary);
  }

  .Label-label {
    color: var(--alinea-content-secondary);
    font-size: var(--alinea-font-size-base);
    font-weight: 500;
    transition: var(--alinea-transition);
    transition-property: color;
  }

  .Label-description {
    display: block;
    max-width: 100%;
    color: var(--alinea-content-secondary);
    font-size: var(--alinea-font-size-base);
    line-height: 1.1;
    font-weight: 400;
    font-style: italic;
    white-space: normal;
    word-wrap: break-word;
  }

  .Label-error {
    color: var(--alinea-content-danger);
    font-size: var(--alinea-font-size-base);
    padding-top: 4px;
  }

  .Label-required {
    color: var(--alinea-content-danger);
    font-size: var(--alinea-font-size-base);
  }
}
