.Link {
  position: relative;
  color: var(--alinea-link);
  font-size: var(--alinea-font-size-base);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  outline: none;
  cursor: pointer;
  transition: var(--alinea-transition);
  transition-property: color, text-decoration-color;

  &[data-variant='underline'] {
    text-decoration-color: currentColor;
  }

  &:hover {
    color: var(--alinea-link-hover);
    text-decoration-color: currentColor;

    &[data-variant='underline'] {
      text-decoration-color: transparent;
    }
  }

  &:active {
    color: var(--alinea-link-pressed);
  }

  &:focus-visible::after {
    content: '';
    position: absolute;
    inset: -3px -6px;
    border: 2px solid var(--alinea-ring);
    border-radius: 8px;
  }

  &[aria-disabled='true'] {
    color: var(--alinea-fg-disabled);
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}
