.Link {
  outline: none;
  cursor: pointer;
  position: relative;
  color: var(--alinea-link);
  font-size: var(--alinea-font-size-base);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  transition: var(--alinea-transition);

  &[data-variant='underline'] {
    text-decoration-color: currentColor;
  }

  &[data-hovered] {
    color: var(--alinea-link-hover);
    text-decoration-color: currentColor;

    &[data-variant='underline'] {
      text-decoration-color: transparent;
    }
  }

  &[data-pressed] {
    color: var(--alinea-link-pressed);
  }

  &[data-focus-visible]:after {
    content: '';
    position: absolute;
    inset: -3px -6px;
    border-radius: 8px;
    border: 2px solid var(--alinea-ring);
  }

  &[data-disabled] {
    cursor: default;
    color: var(--alinea-fg-disabled);
  }
}
