@import "../theme.css";

.Popover {
  width: var(--alinea-trigger-width);
  &[data-clear] {
    width: calc(var(--alinea-trigger-width) + 40px);
  }
  outline: none;
  overflow-y: auto;
  scrollbar-width: thin;
  min-width: 240px;
  max-width: 320px;
  display: block;
  min-height: unset;
  max-height: inherit;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid var(--alinea-border-default);
  background-color: var(--alinea-surface-field);
}
