@import "../theme.css";

.ProgressCircle {
  line-height: 1;

  .ProgressCircle-icon {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;

    .ProgressCircle-icon-circle {
      transform-origin: center;

      &[data-indeterminate] {
        animation: spin 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
