.RadioGroup {
  color: var(--alinea-fg);
}

.RadioGroup-items {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &[data-orientation='horizontal'] {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 16px;
  }
}

.RadioGroupItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.571rem;
  color: var(--alinea-fg);
  font-size: var(--alinea-font-size-base);
  cursor: pointer;
  forced-color-adjust: none;

  &:has(:disabled),
  .RadioGroup[aria-readonly='true'] & {
    pointer-events: none;
  }

  &:has(:disabled) {
    opacity: 0.5;
  }

  &:has(.RadioGroupItem-content) {
    align-items: flex-start;
  }
}

.RadioGroupItem-indicator {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 1px solid var(--alinea-border);
  border-radius: 100%;
  background: var(--alinea-input);
  transition: var(--alinea-transition);
  transition-property: border-color, border-width, box-shadow;

  .RadioGroupItem:hover & {
    border-color: var(--alinea-border-hover);
    box-shadow: 0 0 0 3px var(--alinea-ring-subtle);
  }

  .RadioGroupItem:active & {
    border-color: var(--alinea-border-pressed);
  }

  .RadioGroupItem:has(:checked) & {
    border-width: 6px;
    border-color: var(--alinea-primary);
  }

  .RadioGroupItem:hover:has(:checked) & {
    box-shadow: 0 0 0 3px var(--alinea-primary-overlay);
  }

  .RadioGroupItem:active:has(:checked) & {
    border-color: var(--alinea-primary-pressed);
  }

  .RadioGroupItem:has(:focus-visible) & {
    outline: 2px solid var(--alinea-ring);
    outline-offset: 2px;
  }

  .RadioGroup[aria-invalid='true'] & {
    border-color: var(--alinea-border-danger);
  }
}

.RadioGroupItem-content {
  display: grid;
  gap: 2px;
  min-width: 0;
  padding-top: 2px;
  line-height: 1.1;
}

.RadioGroupItem-label {
  color: inherit;
}
