.SearchField {
  display: block;
}

.SearchFieldGroup {
  display: flex;
  align-items: center;
  height: 32px;
  overflow: hidden;
  border: 1px solid var(--alinea-border);
  border-radius: 8px;
  outline: 3px solid transparent;
  background-color: var(--alinea-input);
  transition: var(--alinea-transition);
  transition-property: border-color, outline-color, opacity;

  &:hover {
    border-color: var(--alinea-border-hover);
    outline-color: var(--alinea-ring-subtle);
  }

  &:focus-within {
    border-color: var(--alinea-border-accent);
    outline-color: var(--alinea-primary-overlay);
  }

  &:has(.SearchFieldInput[aria-invalid='true']) {
    border-color: var(--alinea-border-danger);
    outline-color: var(--alinea-danger-overlay);
  }

  &:has(.SearchFieldInput:disabled),
  &:has(.SearchFieldInput[readonly]) {
    pointer-events: none;
    background-color: var(--alinea-input-disabled);
    color: var(--alinea-fg-disabled);
  }

  &:has(.SearchFieldInput:disabled) {
    opacity: 0.5;
  }
}

.SearchFieldIcon {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-right: -4px;
  color: var(--alinea-fg-subtle);
  font-size: 20px;
}

.SearchFieldSpinner {
  flex: 0 0 auto;
  margin-left: 2px;
  color: var(--alinea-fg-subtle);
}

.SearchFieldInput {
  width: 100%;
  padding: 8px 10px;
  border: none;
  outline: none;
  background: none;
  color: var(--alinea-fg);
  font: inherit;
  font-size: var(--alinea-font-size-base);
  line-height: 1.5;

  &::placeholder {
    color: var(--alinea-input-placeholder);
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.SearchFieldClear {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border: none;
  outline: none;
  background: none;
  color: var(--alinea-fg-muted);
  font: inherit;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color var(--alinea-transition);
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: var(--alinea-muted);
  }

  .SearchFieldInput[value=''] ~ & {
    visibility: hidden;
  }

  .SearchFieldGroup:has(.SearchFieldInput[readonly]) &,
  .SearchFieldGroup:has(.SearchFieldInput:disabled) & {
    visibility: hidden;
  }
}

.SearchFieldClear-icon {
  position: relative;
}
