@import "../theme.css";

.Switch {
  --alinea-selected-color: var(--alinea-highlight-background);

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.571rem;
  font-size: var(--alinea-font-size-base);
  line-height: 1;
  color: var(--alinea-text-color);
  forced-color-adjust: none;

  .Switch-track {
    width: 2rem;
    height: 1.143rem;
    border: 1px solid var(--alinea-border-color);
    background: var(--alinea-field-background);
    border-radius: 1.143rem;
    transition: var(--alinea-transition);
    transition-property: background, border, box-shadow;

    &::before {
      content: "";
      display: block;
      margin: 2px;
      width: 0.857rem;
      height: 0.857rem;
      background: var(--alinea-border-color-hover);
      border-radius: 50%;
      transition: var(--alinea-transition);
      transition-property: background, transform;
    }
  }

  &[data-hovered] .Switch-track {
    border-color: var(--alinea-border-color-hover);
    box-shadow: 0 0 0 4px var(--alinea-box-shadow-color);
  }

  &[data-focus-visible] .Switch-track {
    outline: 2px solid var(--alinea-border-color);
    outline-offset: 2px;
  }

  &[data-selected] {
    .Switch-track {
      background: var(--alinea-selected-color);
      border-color: var(--alinea-selected-color);

      &::before {
        background: var(--alinea-highlight-foreground);
        transform: translateX(100%);
      }
    }

    &[data-hovered] .Switch-track {
      box-shadow: 0 0 0 4px var(--alinea-highlight-overlay);
    }

    &[data-focus-visible] .Switch-track {
      outline-color: var(--alinea-selected-color);
    }

    &[data-pressed] .Switch-track {
      background: var(--alinea-highlight-background-pressed);
      border-color: var(--alinea-highlight-background-pressed);
    }
  }

  &[data-pressed] .Switch-track {
    border-color: var(--alinea-border-color-pressed);

    &::before {
      background: var(--alinea-border-color-pressed);
    }
  }

  &[data-disabled],
  &[data-readonly] {
    pointer-events: none;
    color: var(--alinea-text-color-disabled);
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  &[data-readonly] {
    .Switch-track {
      background: var(--alinea-border-color);
      border-color: var(--alinea-border-color);
    }
  }
}
