.TagGroup {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: small;
  color: var(--alinea-fg);

  .TagGroup-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.Tag {
  cursor: default;
  outline: none;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--alinea-primary-subtle);
  color: var(--alinea-primary-subtle-fg);
  font-size: var(--alinea-font-size-base);
  transition: var(--alinea-transition);
  transition-property: background-color, border-color, color;

  .TagGroup[data-intent='secondary'] & {
    background-color: var(--alinea-muted);
    color: var(--alinea-fg);
  }

  .TagGroup[data-shape='circle'] & {
    border-radius: 50px;
    padding-inline: 12px;
  }

  &[data-selection-mode] {
    cursor: pointer;
    padding-block: 2px;
    border: 1px solid var(--alinea-border);
    background-color: var(--alinea-muted);
    color: var(--alinea-fg);
  }

  &[data-hovered] {
    border-color: var(--alinea-border-hover);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--alinea-ring);
    outline-offset: 2px;
  }

  &[data-selected] {
    border-color: var(--alinea-primary);
    background: var(--alinea-primary);
    color: var(--alinea-primary-fg);
  }

  &[data-disabled] {
    color: var(--alinea-fg-disabled);
    pointer-events: none;
  }

  [slot='remove'] {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin-left: 8px;
    color: var(--alinea-fg-muted);
    transition: color 200ms;
    outline: none;
    font-size: 0.95em;
    display: flex;
    align-items: center;

    &[data-hovered] {
      color: var(--alinea-fg-hover);
    }
  }

  &[data-selected] {
    [slot='remove'] {
      color: inherit;
    }
  }
}
