.FileEditor {
  display: flex;
  flex-wrap: wrap;
}

.FileEditor-details {
  padding: 16px;
  flex: 1;
  min-width: 0;
}

@media (max-width: 800px) {
  .FileEditor {
    flex-direction: column;
  }
}
