.root {
  &-switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 20px;
    width: 40px;
    background-color: rgb(213, 216, 218);
    border-radius: 25px;
    border: none;
    cursor: pointer;

    &.is-checked {
      background-color: var(--alinea-button-background);
    }

    &-slider {
      position: absolute;
      display: inline-block;
      height: 16px;
      width: 16px;
      left: 2px;
      border-radius: 50%;
      background-color: var(--alinea-button-foreground);
      transition: transform 0.2s ease-in;

      &.is-checked {
        transform: translateX(20px);
      }
    }
  }

  &-username {
    padding: 8px 4px 4px 4px;
    min-width: 0;
  }

  &-roles {
    border-radius: 8px;
    background-color: var(--alinea-background);
    border: 1px solid var(--alinea-outline);
    font: inherit;
    outline: var(--alinea-button-background) auto 1px;

    &-option {
      padding: 8px;

      &:checked {
        color: var(--alinea-button-foreground);
        background-color: var(--alinea-button-background);
      }

      &:focus {
        outline: none;
        background-color: var(--alinea-highlight);
      }
    }
  }
}
