.root {
  display: inline-block;
  vertical-align: top;

  &-inner {
    padding: 6px 6px 8px 6px;
  }

  &-header {
    padding-top: 0;
  }
}

.header {
  position: relative;
  z-index: 1;
  padding-bottom: 6px;

  &-title {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    color: var(--alinea-fields-foreground);
    padding-bottom: 4px;
  }

  &-help {
    font-weight: normal;
    padding: 4px 0 9px 0;
    font-style: italic;
    font-size: 12px;
  }

  &.is-large &-title {
    font-size: 20px;
    padding-bottom: 12px;
  }

  &.is-focused &-title {
    color: var(--alinea-foreground);
  }
}
