.root {
  display: inline-block;
  vertical-align: top;

  &-inner {
    padding: 0 6px 12px 6px;
  }

  &-header {
    padding-top: 0;
  }

  &.is-inline {
    padding-top: 6px;
  }
}

.header {
  position: relative;
  z-index: 1;

  &-title {
    display: inline-block;
    font-size: 13.5px;
    font-weight: 600;
    // color: var(--alinea-fields-foreground);
    padding: 8px 0 10px 0;
  }

  &-help {
    font-weight: normal;
    padding: 4px 0 9px 0;
    font-style: italic;
    font-size: 12px;
  }

  &.is-large &-title {
    font-size: 20px;
    padding-bottom: 12px;
  }

  &.is-focused &-title {
    color: var(--alinea-foreground);
  }
}
