.root {
  font-family: 'JetBrains Mono', monospace;
  padding: 0 20px;
}

.wrapperLabel {
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: -5px;
  padding: 6px 5px 5px 5px;
  border-radius: 8px;

  &-icon {
    position: relative;
    padding-top: 3.5px;
    width: 18px;
    color: #9296c5;
    flex-shrink: 0;
  }

  &:hover &-icon {
    color: #5661e5;
  }

  &:hover {
    background: #f2eeee;
  }
}

.wrapper {
  &-checkbox {
    position: absolute;
    left: -9999px;
  }
  &-checkbox + div {
    display: none;
  }
  &-checkbox:checked + div {
    display: inline;
  }
}

.comment {
  padding-top: 10px;
  color: #227a56;
}

.type {
  &-indent {
    padding-left: 20px;
  }
  &-keyword {
    color: #74797e;
  }
  &-leaf {
    color: #c00c84;
  }
  &-label {
    font-weight: bold;
    color: #5661e5;
  }
  &-param {
    color: #2f86d2;
  }
  &-symbol {
    color: #949fa7;
  }
  &-tree {
    color: #abb6bd;
  }
}
