.DemoProductGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 36px 16px;

  @container demo-site (max-width: 380px) {
    grid-template-columns: minmax(0, 1fr);
  }

  @container demo-site (min-width: 900px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 48px 28px;
  }
}
