.root {
  padding: 1px 6px;

  &-inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-right: 8px;
    border-radius: 6px;
    color: var(--foreground-faded);
  }

  &-link {
    height: 32px;
    text-decoration: none;
    font: inherit;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  &.is-active &-inner {
    background: var(--selected);
  }

  &:hover &-inner {
    background: var(--highlight);
  }
}
