@import '@/style';

.home {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &-section {
    padding: 40px 0;

    @include l {
      padding: 90px 0;
    }

    &.is-highlight {
      background: var(--web-background-variant);
    }

    &.is-accent {
      background: var(--web-accent);
      color: var(--web-accent-foreground);
    }
  }

  &-intro {
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &-code {
      min-width: 0;
      width: 100%;
      padding-top: 20px;
    }

    &-examples {
      background: var(--web-background);
      padding: 20px 30px;
      border-radius: 25px;
    }
  }

  &-demo {
    padding: 0 20px;

    @include ml {
      padding: 0 40px;
    }

    &-inner {
      display: block;
      margin: 0 auto;
      border-radius: 18px;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      height: 80vh;
      width: 100%;
      border: none;

      @include l {
        max-width: 1200px;
      }
    }
  }

  &-features {
    padding: 30px 0;
    //background: var(--web-section1-background);

    &-desc {
      font-size: 16px;

      @include s {
        font-size: 14px;
      }
    }
  }
}

.hero {
  flex: 1;
  position: relative;
  background-color: #daeefd;
  background-position: center;
  background-size: cover;
  color: #041d40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 50px 0;

  &-demo {
    font-family: var(--web-title-font);
    font-size: 14px;
  }

  &-screenshot {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 80px;

    &-inner {
      border-radius: 10px;
      overflow: hidden;
    }
  }
}
