@import '@/style';

.home {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 40px;

  &-sections {
    display: flex;
    flex-direction: column;
    gap: 45px;
    @include l {
      gap: 120px;
    }
  }

  &-section {
    //padding: 30px;
    //border-radius: 24px;
    //background-color: white;
    display: flex;

    @include sm {
      flex-direction: column;
      gap: 20px;
    }

    @include l {
      align-items: center;
      gap: 80px;

      > * {
        flex: 1 0 0;
      }
    }

    &-illustration {
      flex-grow: 1.2;
      @include sm {
        order: 1;
      }
    }

    &.is-highlight {
      background: var(--web-background-variant);
    }

    &.is-accent {
      background: var(--web-accent);
      color: var(--web-accent-foreground);
    }

    &-screenshot {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }

  &-intro {
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &-code {
      min-width: 0;
      width: 100%;
      padding-top: 20px;
    }

    &-examples {
      background: var(--web-background);
      padding: 20px 30px;
      border-radius: 25px;
    }
  }

  &-demo {
    &-inner {
      display: block;
      border-radius: 16px;
      overflow: hidden;
      height: 80vh;
      width: 100%;
      border: 1px solid var(--web-outline);
    }
  }

  &-features {
    padding: 30px 0;
    //background: var(--web-section1-background);

    &-desc {
      font-size: 16px;

      @include s {
        font-size: 14px;
      }
    }
  }
}

.highlight {
  &:hover {
    text-decoration: underline;
  }
}

.hero {
  flex: 1;
  position: relative;
  background-color: #2d50f1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  padding: 80px 26px;
  border-radius: 24px;
  text-align: center;
  z-index: 0;
  overflow: hidden;

  &-demo {
    //font-family: var(--web-title-font);
    font-size: 14px;
  }

  &-screenshot {
    position: sticky;
    bottom: 0;
  }
}
