.DateControl,
.DateControl-input.is-framed {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid var(--alinea-border-strong);
  border-radius: var(--alinea-radius);
  background: var(--alinea-input);
  color: var(--alinea-fg);
  font-size: var(--alinea-font-size-base);
  line-height: 20px;
  white-space: nowrap;
  transition: var(--alinea-transition);

  &:hover:not(:where(:has(.DateControl-segment[aria-readonly='true']))) {
    border-color: color-mix(in oklab, var(--alinea-border-strong) 70%, var(--alinea-fg));
  }

  &:has(.DateControl-segment[aria-readonly='true']) {
    background-color: var(--alinea-bg-muted);
    color: var(--alinea-fg-muted);
  }

  &:focus-within,
  &:has(.DateControl-trigger[aria-expanded='true']) {
    border-color: var(--alinea-primary);
  }

  &:has(.DateControl-segment[aria-invalid='true']) {
    border-color: var(--alinea-danger);
  }

  &[aria-disabled='true'] {
    background-color: var(--alinea-bg-muted);
    opacity: 0.45;
    pointer-events: none;
  }
}

.DateControl {
  display: flex;
  align-items: center;
  gap: 8px;
}

.DateControl-segment {
  padding-inline: 1px;
  transition: var(--alinea-transition);

  &.is-placeholder {
    color: var(--alinea-fg-disabled);
  }

  &:focus {
    border-radius: var(--alinea-radius-sm);
    background-color: var(--alinea-primary-subtle);
    color: var(--alinea-primary);
    outline: none;
  }
}

.DateControl-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: auto;
  padding: 0;
  border: none;
  background: none;
  color: var(--alinea-fg-muted);
  outline: none;
  cursor: pointer;
  transition: var(--alinea-transition);

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: var(--alinea-radius-sm);
    background-color: transparent;
    transition: var(--alinea-transition);
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: var(--alinea-muted);
  }

  &[aria-expanded='true'] {
    color: var(--alinea-primary-subtle-fg);

    &::before {
      background-color: var(--alinea-primary-subtle);
    }
  }

  .DateControl:has(.DateControl-segment[aria-readonly='true']) & {
    display: none;
  }
}

.DateControl-icon {
  position: relative;
}

.DateControl-dialog {
  outline: none;
}
