.root {
  &-editor > * {
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    width: 100%;
    resize: none;
    cursor: text;
    line-height: 1.5;
    padding: 8px 18px 8px 18px;
    transition: border 0.25s ease-out;

    &:focus {
      outline: none;
    }
  }
}
