@use '@/style' as *;

.root {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 28px var(--cloud-gutter);

  @include sm {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-links {
    display: flex;
    gap: 32px;
    font-size: 15px;
    font-weight: 500;

    @include sm {
      display: none;
    }
  }

  &-link,
  &-login {
    color: var(--cloud-text);
    text-decoration: none;

    &:hover {
      color: #ffffff;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;

    @include sm {
      gap: 20px;
    }
  }

  &-login {
    font-size: 15px;
    font-weight: 500;

    @include s {
      display: none;
    }
  }
}
