.Sidebar {
  width: 273px;
  flex-shrink: 0;
  min-width: 0;
  overflow: hidden;
}

.SidebarBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.SidebarFooter {}

.SidebarHeader {
  gap: 8px;
  justify-content: space-between;
  flex-shrink: 0;
}
