.Surface {
  border-radius: 6px;
  border: 1px solid var(--alinea-dashboard-surface-border);
  background: var(--alinea-bg);
  font-size: var(--alinea-font-size-base);
  flex-shrink: 0;
  overflow: hidden;

  &.is-muted {
    background: var(--alinea-bg-muted);
  }
}

.SurfaceHeader {
  padding: 0 12px;
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--alinea-dashboard-surface-header-background);

  &:not(:first-child) {
    border-top: 1px solid var(--alinea-dashboard-surface-border);
  }
}

.SurfaceContent {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:not(:first-child) {
    border-top: 1px solid var(--alinea-dashboard-surface-border);
  }
}
