.Surface {
  border-radius: 6px;
  border: 1px solid var(--alinea-border);
  background: var(--alinea-bg);
  font-size: var(--alinea-font-size-base);
  flex-shrink: 0;

  &.is-muted {
    background: var(--alinea-bg-muted);
  }
}

.SurfaceHeader {
  padding: 0 12px;
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;

  &:not(:first-child) {
    border-top: 1px solid var(--alinea-border);
  }

  &:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.SurfaceContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:not(:first-child) {
    border-top: 1px solid var(--alinea-border);
  }

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
