@import 'include-media/dist/_include-media.scss';

$primary: #17b179;
$secondary: #2a374c;
$grey: #f3f3f3;
$black: #212121;

$breakpoints: (
  tablet: 600px,
  ipad-port: 768px,
  ipad-land: 1024px,
  desktop: 1200px
);

$tablet: '>=tablet';
$ipad-port: '>=ipad-port';
$ipad-land: '>=ipad-land';
$desktop: '>=desktop';
