@import '@alinea/website/src/style.scss';

.root {
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;

  @include m {
    max-width: 680px;
    padding: 0 60px;
  }
  @include l {
    max-width: 900px;
    padding: 0 90px;
  }
}
