@import '@alineacms/website/src/style.scss';

.root {
  position: relative;
  background: hsl(0, 12%, 98%);
  height: 95px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;

  @include ml {
    padding: 0 45px;
  }

  &-logo {
    color: #44363b;
    margin-top: -3px;

    @include ml {
      margin-top: -2px;
    }

    &-text {
      @include s {
        display: none;
      }
    }
  }

  &-link {
    color: inherit;
    text-decoration: none;
    font-size: 13px;

    @include ml {
      font-size: 14px;
    }
  }

  &-bg {
    position: absolute;
    top: 100%;
    margin-top: -1px;
    fill: hsl(0, 12%, 98%);
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    max-height: calc(100vh - 95px);
    width: 100%;
  }

  &-social {
    color: #44363b;

    &:hover {
      color: black;
    }

    &-icon {
      font-size: 25px;
    }
  }
}
