@import '@alineacms/website/src/style.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
  flex-grow: 1;
}

.title {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 24px;
  font-weight: bold;
  white-space: pre-line;
  color: #090e24;

  @include s {
    font-size: 45px;
  }

  @include m {
    font-size: 60px;
  }
}

.action {
  display: inline-block;
  text-decoration: none;
  background: hsl(340, 84%, 60%);
  color: white;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 14px;

  @include ml {
    font-size: 16px;
  }
}

.byLine {
  font-size: 14px;
  line-height: 1.4;
  max-width: 50ch;

  @include ml {
    font-size: 16px;
    white-space: pre-line;
  }
}
