@import '@alineacms/website/src/style.scss';

.root {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #1d232a;
  background: linear-gradient(to bottom, hsl(0, 12%, 94%), hsl(0, 12%, 99%))
    fixed;

  &-content {
    position: relative;
    flex-grow: 1;
    padding-top: 70px;
    display: flex;
    flex-direction: column;

    @include m {
      padding-top: 90px;
    }

    @include l {
      padding-top: 100px;
    }
  }
}
