@import '@alinea/ui/style.scss';

.root {
  background: var(--alinea-background);
  border-bottom: 1px solid var(--alinea-outline);
  flex-shrink: 0;

  &-inner {
    max-width: var(--alinea-main-width);
    margin: auto;
    height: var(--alinea-header-height);
    padding: 0 var(--alinea-main-padding-x);
  }

  &-title {
    font-weight: 600;
    font-size: 13px;
  }
}
