.root {
  border-top: 1px solid var(--alinea-outline);

  &-item {
    display: block;
    width: 100%;
    padding: 10px;

    &.is-active {
      background: var(--alinea-highlight);
    }

    &.is-active.is-draft {
      color: var(--alinea-draft-foreground);
      background: var(--alinea-draft-background);
    }

    &.is-active.is-published {
      color: var(--alinea-published-foreground);
      background: var(--alinea-published-background);
    }

    &.is-active.is-archived {
      color: var(--alinea-archived-foreground);
      background: var(--alinea-archived-background);
    }
  }
}
