.root {
  border-top: 1px solid var(--alinea-outline);

  &-item {
    display: block;
    width: 100%;
    padding: 10px;

    &.is-active {
      background: var(--alinea-highlight);
    }

    &.is-active.is-draft {
      color: var(--alinea-variant-info-foreground);
      background: var(--alinea-variant-info-background);
    }

    &.is-active.is-published {
      color: var(--alinea-variant-success-foreground);
      background: var(--alinea-variant-success-background);
    }

    &.is-active.is-archived {
      color: var(--alinea-variant-disabled-foreground);
      background: var(--alinea-variant-disabled-background);
    }
  }
}
