@import '../../../ui/style.scss';

.root {
  background: var(--alinea-selected);

  &-tabTrigger {
    background: var(--alinea-outline);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    gap: 10px;
    color: var(--alinea-foreground);
    background: var(--alinea-selected);

    &:hover {
      background: var(--alinea-highlight);
    }

    &.is-active {
      background: var(--alinea-background);
    }
  }

  &-description {
    height: 100%;
    flex: 1;
    padding: 0 20px;
    // border-bottom: 1px solid var(--alinea-outline);
  }

  &-url {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--alinea-fields);
    padding: 6px 15px;
    border-radius: var(--alinea-border-radius);

    @include s {
      display: none;
    }
  }
}
