@import '../../../ui/style.scss';

.root {
  background: var(--alinea-selected);

  &-tabTrigger {
    background: var(--alinea-outline);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    gap: 10px;
    color: var(--alinea-foreground);
    background: var(--alinea-selected);

    &:hover {
      background: var(--alinea-highlight);
    }

    &.is-active {
      background: var(--alinea-background);
    }
  }

  &-description {
    height: 100%;
    flex: 1;
    padding: 0 20px;

    &-title {
      position: relative;
      font-weight: bold;
      padding-right: 12px;

      &::after {
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        right: 0;
        border-right: 1px solid;
        opacity: 0.2;
      }
    }

    &-action {
      font-size: 14px;
    }
  }

  &-url {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--alinea-fields);
    padding: 6px 15px;
    border-radius: var(--alinea-border-radius);

    @include s {
      display: none;
    }
  }
}
