@import 'alinea/ui/style.scss';

.root {
  &-url {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--alinea-fields);
    padding: 6px 15px;
    border-radius: var(--alinea-border-radius);

    @include s {
      display: none;
    }
  }
}
