.root {
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--alinea-outline);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  height: var(--alinea-header-height) !important;
  visibility: hidden;

  &-inner {
    height: 100%;
  }

  &.is-active {
    visibility: visible;
  }
}
