.root {
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--alinea-outline);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  display: none;

  &-inner {
    height: 100%;
  }

  &.is-active {
    display: block;
  }
}
