.root {
  width: 600px;

  &-header {
    padding-bottom: 20px;
  }

  &-footer {
    margin-top: 20px;
    text-align: right;

    &-link {
      margin-right: 20px;
    }
  }
}

.form {
  &.is-loading {
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      background: hsla(var(--alinea-negative), 0.1);
      z-index: 1;
    }
  }
}
