.root {
  &-button {
    border: none;
    background-color: inherit;
    cursor: pointer;

    &-choice {
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      &.is-active {
        border: 2px solid var(--fields-foreground);
      }
    }

    &-icon {
      font-size: 25px;
    }
  }

  &-text {
    display: block;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    width: 100%;
    resize: none;
    padding: 9px 16px;
    border-radius: 8px;
    line-height: 1.5;
    background: var(--fields);
    box-shadow: var(--fields-shadow);

    &:focus {
      background: var(--fields-selected);
      outline: 2px solid var(--fields-focus);
    }
  }
}
