.picker {
  position: relative;
  width: 100%;

  &-trigger {
    display: block;
    text-align: left;
    padding: 8px;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: hsla(var(--web-negative-hsl), 0.05);
      border-radius: 8px;
    }

    &:focus + .picker-options {
      display: flex;
    }
  }

  &-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--web-background);
    z-index: 1;
    border: 1px solid var(--web-outline);
    border-radius: 8px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 1px 4px hsla(var(--web-negative-hsl), 0.1);

    &-option {
      display: block;
      width: 100%;
      text-align: left;
      padding: 8px;
      cursor: pointer;

      &.is-disabled {
        cursor: default;
        color: hsla(var(--web-negative-hsl), 0.4);
      }

      &:not(.is-disabled):hover {
        background-color: hsla(var(--web-negative-hsl), 0.05);
      }
    }
  }
}
