name: ci

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '16'
      - uses: google/wireit@setup-github-actions-caching/v1
      - uses: actions/cache@v2
        with:
          path: |
            ./.yarn
            '**/node_modules'
          key: ${{ runner.os }}-yarn
      - run: yarn
      - run: yarn type
      - if: startsWith(github.ref, 'refs/tags/v')
        run: |
          yarn bump ${GITHUB_REF#refs/tags/v}
      - run: yarn build
      - run: yarn test
      - if: startsWith(github.ref, 'refs/tags/v')
        run: |
          npm config set //registry.npmjs.org/:_authToken ${{secrets.NPM_AUTH_TOKEN}}
          npm publish --access public --tolerate-republish -ws
  release:
    needs: ci
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v1
        with:
          changelog_file: changelog.md
      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
