name: ci

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: {node-version: '18', cache: 'yarn'}
      - run: yarn
      - run: yarn test
      - uses: nowsprinting/check-version-format-action@v3
        id: version
        with: {prefix: 'v'}
      - if: steps.version.outputs.is_valid == 'true'
        run: |
          rm -r dist
          yarn bump ${GITHUB_REF#refs/tags/v}
          npm config set //registry.npmjs.org/:_authToken ${{secrets.NPM_AUTH_TOKEN}}
      - if: steps.version.outputs.is_stable == 'true'
        run: npm publish
      - if: steps.version.outputs.prerelease
        run: npm publish --tag preview
  release:
    needs: ci
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v1
        with:
          changelog_file: changelog.md
      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
