.action {
  display: inline-block;
  text-decoration: none;
  background: var(--web-accent);
  color: var(--web-accent-foreground);
  padding: 0.6em 1em;
  border-radius: 1.5em;
  cursor: pointer;

  &.is-outline {
    border: 1px solid var(--web-accent-foreground);
  }

  &:hover {
    background: var(--web-accent-light);
  }
}
