.root {
  font-size: 14px;
  font-weight: 600;
  color: var(--web-accent);
  padding-top: 8px;
  padding-bottom: 10px;

  &.is-flat {
    padding: 0;
  }

  &:empty {
    padding-bottom: 0;
  }

  &-separator {
    opacity: 0.5;
  }
}
