@import '../style.scss';

.features {
  --cols: 2;
  display: grid;
  gap: 30px;

  @media (max-width: 600px) {
    overflow-x: scroll;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% - 25px);
    scroll-snap-type: x proximity;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(var(--cols), 1fr);
  }

  @include l {
    --cols: 3;
  }
}

.feature {
  position: relative;
  scroll-snap-align: start;

  &-inner {
    height: 100%;
    padding: 30px;
    border-radius: 16px;
    background-color: white;

    @media l {
      padding: 40px;
    }

    > *:first-child {
      margin-top: 0;
    }
  }

  &-icon {
    font-size: 30px;
    color: var(--web-accent);
    margin-bottom: 4px;
  }

  &-title {
    font-family: var(--web-title-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    white-space: pre-line;
    text-rendering: optimizeLegibility;
    padding: 4px 0 8px 0;

    @include s {
      font-size: 16px;
    }
  }
}
