@import '../style.scss';

.root {
  --bg-faded: hsla(var(--web-header-background-hsl), 0.9);
  --bg: var(--web-header-background);
  color: var(--web-foreground-faded);
  height: var(--web-header-height);
  flex-shrink: 0;
  z-index: 7;

  @include sm {
    position: sticky;
    top: 0;
    border-bottom: 1px solid hsla(var(--web-negative-hsl), 0.09);
    background-color: var(--bg-faded);
    backdrop-filter: blur(12px);
  }

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-top {
    position: relative;
  }

  &-logo {
    display: block;
    transition: 0.25s ease-out;
    color: var(--web-foreground);

    &:hover {
      color: var(--web-foreground);
    }
  }

  &-nav {
    margin: 0 auto;
    height: 100%;

    @include sm {
      display: none !important;
    }

    &-link {
      color: inherit;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: 7.5px 12px;
      margin: 0 8px;
      white-space: nowrap;
      border-radius: 8px;
      transition: 0.25s ease-out;

      &.is-search {
        display: block;
        font-size: 18px;
        cursor: pointer;
      }

      &.is-intro {
        @include s {
          display: none;
        }
      }

      &:hover {
        color: var(--web-foreground);
        background: var(--web-highlight);
      }

      &[aria-current] {
        color: var(--web-foreground);
      }
    }
  }

  &-dashboard {
    border-radius: 16px;
    font-size: 13px;
    font-weight: 600;
    background: #44474d;
    color: #ffffff;
    padding: 0 14px;
    margin: 0 8px;
    transition: 0.25s ease-out;
    height: 26px;
    display: flex;
    align-items: center;

    @include s {
      display: none;
    }

    &:hover {
      background: #171718;
    }
  }

  &-social {
    display: block;

    &-icon {
      display: block;
      font-size: 25px;
    }

    &:hover {
      color: var(--web-foreground);
    }

    .is-transparent &:hover {
      color: black;
    }

    &.is-search {
      @include ml {
        display: none;
      }
    }
  }

  &-mobileButton {
    display: block;
    font-size: 25px;

    @include l {
      display: none !important;
    }

    &-hamburger {
      display: block;
      .mobilemenu & {
        display: none;
      }
    }

    &-close {
      display: none;
      .mobilemenu & {
        display: block;
      }
    }
  }
}

.mobilemenu {
  background: var(--web-header-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 8;
  display: none;

  @include l {
    display: none !important;
  }

  &-check {
    display: none;
  }

  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &-top {
    position: sticky;
    top: 0;
    color: var(--web-foreground-faded);
    height: var(--web-header-height);
    background-color: var(--bg-faded);
    backdrop-filter: blur(12px);
    z-index: 2;
    flex-shrink: 0;
    flex-grow: 0 !important;
  }

  &-nav {
    flex-grow: 1;
    padding: 0 19px 30px 19px;
  }

  &-link {
    cursor: pointer;
    color: inherit;
    font-size: 16px;
    text-decoration: none;
  }

  :global(#mobilemenu:checked) + & {
    display: block;
  }
}

.searchmodal {
  position: fixed;
  display: flex;
  align-items: flex-start;
  inset: 0;
  z-index: 10;
  padding: 60px;

  @include s {
    padding: 20px;
  }

  &-header {
    position: sticky;
    top: 0;
    background: var(--web-background);
    z-index: 1;
    padding: 8px 20px;

    &-icon {
      font-size: 22px;
      &.is-pending {
        animation: glow 0.5s ease-in-out infinite alternate;
      }
    }

    &-input {
      background: none;
      border: none;
      font-size: 18px;
      height: 40px;
      width: 100%;
      flex: 1;
      &:focus {
        outline: none;
      }
    }
  }

  &-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 566px;
    background: var(--web-background);
    color: var(--web-foreground);
    border-radius: 8px;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

.results {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 8px 20px 20px 16px;
  max-height: 100%;
  overflow: auto;

  &-row {
    border-radius: 8px;
    padding: 8px 12px;

    &:hover {
      color: var(--web-foreground);
      background: var(--web-highlight);
    }
  }
}

@keyframes glow {
  from {
    color: var(--web-foreground);
  }
  to {
    color: var(--web-accent);
  }
}
