@import '../style.scss';

.root {
  @include ml {
    padding: 120px 0;
  }

  &-inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &-bg {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    fill: var(--web-background);
    transform: translateY(-100%);
  }
}

.title {
  margin-bottom: 24px;
}

.action {
  display: inline-block;
  text-decoration: none;
  background: white;
  color: var(--web-foreground);
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 14px;

  &.is-outline {
    border: 1px solid var(--web-accent-foreground);
  }

  &:hover {
    background: #eee;
  }
}

.byLine {
  font-size: 14px;
  line-height: 1.5;
  max-width: 50ch;

  @include ml {
    font-size: 17px;
    white-space: pre-line;
  }
}
