@import '../style.scss';

.root {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: var(--web-foreground);
  background: var(--web-background);
  min-height: 100vh;

  &-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}

.content {
  min-height: 0;
  padding-top: 30px;
  padding-bottom: 45px;
}

.scrollable {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 45px;
  min-width: 0;

  @media (min-width: 980px) {
    padding-left: 20px;
  }

  @include l {
    padding-left: 70px;
    padding-right: 70px;
  }

  &-inner {
    width: 100%;
    margin: 0 auto;
  }
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include ml {
    padding: 0 45px;
  }

  @include l {
    max-width: 1280px;
  }
}

.withSidebar {
  display: flex;
  flex-grow: 1;
}
