@import '../style.scss';

.root {
  position: relative;
  // height: calc(100vh - var(--web-header-height));
  // position: sticky;
  // top: var(--web-header-height);
  // overflow: auto;
  flex-shrink: 0;
  width: 300px;
  padding: 30px 0;
  margin-left: -6px;
  padding-right: 25px;
  //background: #f8f9fa;
  border-right: 1px solid hsla(var(--web-negative-hsl), 0.09);
  display: flex;
  flex-direction: column;

  &.is-fluid {
    width: auto;
  }

  &:before {
    //content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 1800px;
    height: 100%;
    background: #f8f9fa;
  }

  @media (max-width: 980px) {
    display: none;
  }

  @include scrollbar;
}
