.layout {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 1.4;
  color: var(--web-foreground);
  min-height: 100vh;

  &-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}
