@import '../style.scss';

.root {
  > *:first-child {
    margin-top: 0;
  }
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.h1 {
  font-family: var(--web-title-font);
  min-width: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.22;
  margin: 35px 0 35px 0;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  @extend .hyphenate;

  &.is-flat {
    margin: 0;
  }

  @include s {
    font-size: 30px;
  }
}

.h2 {
  // font-family: var(--web-title-font);
  font-weight: 500;
  min-width: 0;
  font-size: 25px;
  line-height: 1.33;
  padding-top: 20px;
  padding-bottom: 14px;
  //border-bottom: 1px solid var(--web-outline);
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  @extend .hyphenate;
  // scroll-margin-top: var(--web-header-height);

  &.is-flat {
    margin: 0;
    padding: 0;
    border: none;
  }

  &-permaLink {
    &:after {
      content: ' #';
      opacity: 0;
      transition: opacity 0.25s ease-out;
    }
  }

  &:hover &-permaLink {
    &:after {
      opacity: 0.4;
    }
  }
}

.permaLink {
  position: absolute;
  margin-left: -1.35em;
  width: 1.35em;

  &:before {
    content: ' #';
    opacity: 0;
    transition: opacity 0.25s ease-out;
  }

  *:hover > &:before {
    opacity: 0.4;
  }
}

.h3 {
  // font-family: var(--web-title-font);
  font-weight: 500;
  min-width: 0;
  font-size: 16px;
  line-height: 1.2;
  margin: 18px 0 4px 0;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  @extend .hyphenate;
  &.is-flat {
    margin: 0;
  }
}

.h4 {
  // font-family: var(--web-title-font);
  font-weight: 500;
  min-width: 0;
  font-size: 13px;
  margin-bottom: 4px;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
  @extend .hyphenate;
  &.is-flat {
    margin: 0;
  }
}

.p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 14px;
  max-width: 60ch;
  text-rendering: optimizeLegibility;
  white-space: pre-line;
  color: var(--web-foreground-faded);
  @extend .hyphenate;
  &.is-flat,
  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  @extend .hyphenate;
  cursor: pointer;
  color: inherit;
}

.monospace {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.9em;
  white-space: nowrap;
  font-feature-settings: 'tnum' 1;
  white-space: pre;
}

.small {
  font-size: 0.8em;
}
